<script type="text/javascript">
    function append_wheel() {
        $('.nicEdit-main img').bind('mousewheel', function (event, delta) {
            var value = delta > 0 ? '+=10' : '-=10';
            $(this).css('width', value);
            return false;
        });
    }
    bkLib.onDomLoaded(function () {
        new nicEditor({buttonList:[
            'bold',
            'italic',
            'underline',
            'strikethrough',
            'fontSize',
            'fontFormat',
            'left',
            'center',
            'right',
            'justify',
            'ol',
            'ul',
            'subscript',
            'superscript',
            'indent',
            'outdent',
            'hr',
            'image',
            'upload',
            'forecolor',
            'bgcolor',
            'link',
            'unlink',
            'removeformat',
            'xhtml'
        ]}).panelInstance('page_content');
        append_wheel()
    });

    $(function () {
        var atoken = $("input[name=authenticity_token]").val();
        var uploader = new plupload.Uploader({
            runtimes:'html5,html4',
            browse_button:'pickfiles',
            container:'container',
            max_file_size:'10mb',
            url:'<%= admin_images_path%>',
            multipart:true,
            multipart_params:{ authenticity_token:atoken},
            filters:[
                {title:"Image files", extensions:"jpg,gif,png,jpeg"}
            ]
        });

        uploader.bind('Init', function (up, params) {
            $('#runtime').html(params.runtime);
        });

        $('#uploadfiles').click(function (e) {
            uploader.start();
            e.preventDefault();
        });

        uploader.init();

        uploader.bind('FilesAdded', function (up, files) {
            $.each(files, function (i, file) {
                $('#filelist').prepend(
                        '<div class="span2 cell" id="' + file.id + '">' +
                                '<div class="img-title">' + plupload.formatSize(file.size) + '<a href="#" class="badge badge-inverse delete" data-method="delete" data-remote="true" rel="nofollow" style="display:none;">X</a></div> ' +
                                '<div class="progress progress-success">' +
                                '<div class="bar" style="width: 0;"></div></div></div>');
            });
        });

        uploader.bind('UploadProgress', function (up, file) {
            $('#' + file.id + " .bar").attr('style', 'width:' + file.percent + '%;');
        });

        uploader.bind('Error', function (up, err) {
            var img_box = $('#' + err.file.id);
            img_box.find('.title').append("Error: " + err.code +
                    ", Message: " + err.message +
                    (err.file ? ", File: " + err.file.name : "")
            );

        });

        uploader.bind('FileUploaded', function (up, file, info) {

            var img_box = $('#' + file.id);
            var response = info['response'].split(':');
            img_box.find('.progress').attr('class', 'img').html('<img src="' + response[2] + '" />');
            img_box.find('.delete').attr('href', '/admin/images/' + response[0]).attr('id', response[0]).show();
            $('.nicEdit-main').append('<img src="' + response[2] + '" />');
            append_wheel();
        });
        $('#container').on('click', '.delete', function () {
            $(this).closest('.cell').remove();
        });
        $('body').on('click', '.insert', function () {
            var img = $(this).closest('.cell').find('img').clone();
            $('.nicEdit-main').append(img);
            return false;
        });

    });
</script>
<%= form_for [:admin, @page], :html => {:class => 'form-horizontal'} do |f| %>
    <%= f.error_messages %>
    <fieldset>
      <div class="form-group">
        <label class="control-label" for="page_title">Название</label>

        <div class="controls">
          <%= f.text_field :title %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" for="page_uri">URI</label>

        <div class="controls">
          <%= f.text_field :uri %>
          <span class="help-inline">На латинице</span>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" for="page_enabled">Показывать?</label>

        <div class="controls">
          <%= f.check_box :enabled %>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for=page_meta_title>Мета-заголовок</label>

        <div class="controls">
          <%= f.text_field :meta_title %>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for=page_meta_keywords>Ключевые слова</label>

        <div class="controls">
          <%= f.text_field :meta_keywords %>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for=page_meta_description>Мета-описание</label>

        <div class="controls">
          <%= f.text_area :meta_description, :size => '40x5' %>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for=pickfiles>Картинки для текста</label>

        <div class="controls">
          <div id="container">
            <a id="pickfiles" href="#" class="btn btn-default">Выберите файлы</a>
            <a id="uploadfiles" href="#" class="btn btn-default btn-primary">Загрузить</a>
            <span id="runtime" class="label label-info"></span>

            <div id="filelist">
              <%= render partial: 'admin/images/page_image', collection: @new_images, as: 'image' %>
            </div>
            <div id="item-images">
              <%= render partial: 'admin/images/page_image', collection: @page.images, as: 'image' %>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" for="page_content">Содержимое</label>

        <div class="controls">
          <%= f.text_area :content, class: 'col-md-10' %>
        </div>
      </div>
      <div class="form-actions">
        <%= f.submit 'Сохранить', class: 'btn btn-default btn-primary' %>
      </div>
    </fieldset>
<% end %>