<%= content_tag_for :tr,page do %>
    <td>
      <%= link_to page.title, edit_admin_page_path(page) %>
    </td>
    <td>
      <%= "[#{page.uri}]"%>
    </td>
    <% if page.enabled? %>
        <td><%= link_to raw("<i class='glyphicon glyphicon-off'></i>"), trigger_admin_page_path(:id => page, :field => :enabled), title: 'Включено', remote: true, :class => "active btn btn-default btn-xs enabled" %></td>
    <% else %>
        <td><%= link_to raw("<i class='glyphicon glyphicon-off'></i>"), trigger_admin_page_path(:id => page, :field => :enabled), title: 'Выключено', remote: true, :class => "btn btn-default btn-xs enabled" %></td>
    <% end %>
    <td><%= link_to raw("<i class='glyphicon glyphicon-trash glyphicon glyphicon-white'></i>"), admin_page_path(page), :remote => true, method: :delete, :class => 'btn btn-default btn-danger btn-xs delete' %></td>

<% end %>