<script>
    $(function () {
        Highcharts.setOptions({
            global:{
                useUTC:false
            },
            lang:{
                months:['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                shortMonths:['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек']
            }
        });
        new Highcharts.Chart({
            chart:{ renderTo:'money_chart' },
            title:{ text:'Доход по дням' },
            xAxis:{ type:'datetime',
                dateTimeLabelFormats:{ // don't display the dummy year
                    day:'%d.%m'
                }
            },
            yAxis:{
                title:{ text:'Рубли' }
            },
            tooltip:{
                formatter:function () {
                    return Highcharts.dateFormat("%d.%m.%y", this.x) + ': ' +
                            Highcharts.numberFormat(this.y, 0, "\'") + ' руб';
                }
            },
            series:[
                <% { "Выполненные заказы" => Order.unscoped.completed, "Новые заказы" => Order.unscoped.newest }.each do |name, order| %>
                {
                    name:"<%= name %>",
                    pointInterval: <%= 1.day * 1000 %>,
                    pointStart: <%= 40.days.ago.at_midnight.to_i * 1000 %>,
                    data: <%= orders_chart_series(order, 40.days.ago) %>
                },
                <% end %>
            ]
        });
        new Highcharts.Chart({
            chart:{
                renderTo:'months_chart',
                type:'line'
            },
            title:{
                text:'Доход по месяцам'
            },
            xAxis:{type:'datetime',
                dateTimeLabelFormats:{
                    day:'%d.%m',
                    month:'%m'
                }
            },
            yAxis:{
                title:{
                    text:'Рубли'
                }
            },
            tooltip:{
                formatter:function () {
                    return Highcharts.dateFormat("%B", this.x) + ': ' +
                            Highcharts.numberFormat(this.y, 0, "\'") + ' руб';
                }
            },
            plotOptions:{
                line:{
                    dataLabels:{
                        enabled:true
                    }
                }
            },
            series:[
                <% { "Выполненные заказы" => Order.unscoped.completed }.each do |name, orders| %>
                {
                    name:"<%= name %>",
                    pointStart: <%= (3.months.ago.beginning_of_month+15.days).to_i * 1000 %>,
                    pointInterval: <%= 1.month * 1000 %>,
                    data:<%= orders_chart_month_series(orders, 3.months.ago.beginning_of_month) %>
                },
                <% end %>
            ]
        });
        new Highcharts.Chart({
            chart:{
                renderTo:'newest_chart',
                type:'line'
            },
            title:{
                text:'Выполненные заказы по месяцам'
            },
            xAxis:{type:'datetime'
            },
            yAxis:[
                { // Primary yAxis
                    min:1,
                    labels:{
                        formatter:function () {
                            return this.value + 'р';
                        },
                        style:{
                            color:'#89A54E'
                        }
                    },
                    title:{
                        text:'Рубли',
                        style:{
                            color:'#89A54E'
                        }
                    }
                },
                { // Secondary yAxis
                    title:{
                        text:'Заказы',
                        style:{
                            color:'#4572A7'
                        }
                    },
                    labels:{
                        formatter:function () {
                            return this.value + ' шт.';
                        },
                        style:{
                            color:'#4572A7'
                        }
                    },
                    opposite:true
                }
            ],
            tooltip:{
                formatter:function () {
                    return Highcharts.dateFormat("%B", this.x) + ': ' +
                            Highcharts.numberFormat(this.y, 0) +
                            (this.series.name == 'Сумма заказов' ? ' руб' : ' шт');
                }
            },
            legend:{
                layout:'vertical',
                align:'left',
                x:120,
                verticalAlign:'top',
                y:100,
                floating:true,
                backgroundColor:'#FFFFFF'
            },
            plotOptions:{
                line:{
                    dataLabels:{
                        enabled:true
                    }
                }
            },
            series:[
                {
                    name:'Количество заказов',
                    pointStart: <%= (3.months.ago.beginning_of_month+15.days).to_i * 1000 %>,
                    pointInterval: <%= 1.month * 1000 %>,
                    color:'#4572A7',
                    type:'column',
                    yAxis:1,
                    data:<%= orders_numbers_chart_series(Order.unscoped.completed, 3.months.ago.beginning_of_month) %>
                },
                {
                    name:"Сумма заказов",
                    pointStart: <%= (3.months.ago.beginning_of_month+15.days).to_i * 1000 %>,
                    pointInterval: <%= 1.month * 1000 %>,
                    color:'#89A54E',
                    type:'spline',
                    data:<%= orders_chart_month_series(Order.unscoped.completed, 3.months.ago.beginning_of_month) %>
                }
            ]
        });
    });
</script>
<div>
  <%= link_to raw("Новых заказов <span class='badge badge-info'>#{@new_counter}</span>"), admin_orders_path(:status => 0) %>
</div>
<%#= orders_chart_month_series(Order.unscoped.completed, 5.months.ago) %>
<%# orders=Order.unscoped.completed.where(:updated_at => 16.months.ago.beginning_of_month.at_midnight..Time.zone.now.end_of_day).select("date_part('month', updated_at) as month, sum(totals) as totals").group("month") %>
<%#= orders.map { |o| o} %>
<%#= 3.months.ago.beginning_of_month.to_i %>

<div id="months_chart" style="width: 1024px; height: 300px;"></div>
<div id="money_chart" style="width: 1024px; height: 300px;"></div>
<div id="newest_chart" style="width: 1024px; height: 300px;"></div>