<script>
    $(function () {
        $('.delete').click(function () {
            $(this).closest('tr').hide();
        });
    });
</script>
<%= link_to raw("<i class='glyphicon glyphicon-plus glyphicon glyphicon-white'></i>страница"), new_admin_page_path, :class => 'btn btn-default btn-primary add-button' %>
<div id="pages">
  <table class="table auto table-condensed">
    <tbody>
    <%= render @pages %>
    </tbody>
  </table>
</div>