<% content_for :main do %>
    <% unless @items.empty? %>
        <h1><%= @title %></h1>
        <ul>
          <%= render @items %>
        </ul>
    <% else %>
        <h4><%= "К сожалению, нет товаров, которые соответствуют параметрам поиска. Попробуйте еще раз с другими параметрами" %></h4>
    <% end %>
<% end %>