var page = $('#page_<%=@page.id %>');
var enabled = page.find('.enabled');

<% if @page.enabled? %>
enabled.addClass('active').attr('title', 'Включен');
<% else %>
enabled.removeClass('active').attr('title', 'Выключен');
<% end %>
