<div id="providers">
  <a href="/auth/twitter" class="auth_provider">
    <%= image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter" %>
    Twitter
  </a>
  <a href="/auth/facebook" class="auth_provider">
    <%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %>
    Facebook
  </a>
  <a href="/auth/google_apps" class="auth_provider">
    <%= image_tag "google_64.png", :size => "64x64", :alt => "Google" %>
    Google
  </a>
</div>