<% if user_signed_in? %>
    <li>
      <%= link_to('Выйти', destroy_user_session_path, :method => :delete) %>
    </li>
<% else %>
    <li>
      <%= link_to('Войти', new_user_session_path) %>
    </li>
<% end %>