<% if user_signed_in? %>
    <li>
      <%= link_to('Настройки', edit_user_registration_path) %>
    </li>
<% else %>
    <li>
      <%= link_to('Регистрация', new_user_registration_path) %>
    </li>
<% end %>