<% content_for :single_column do %>
    <div class="row">
      <div class="span3" style="color: transparent">.</div>
      <div class="span6">
        <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => {:method => :post}) do |f| %>
            <%= devise_error_messages! %>
            <legend>Переслать письмо для подтверждения email</legend>
            <div class="alert alert-info">
              <i class="glyphicon glyphicon-question-sign"></i> Если вам не пришло письмо с ссылкой для подтверждения
              регистрации, возможно, оно попало в папку "Спам" в
              вашем почтовом ящике, либо в работе нашего сайта
              что-то пошло не так.<br />
              Вы можете воспользоваться этой формой, чтобы письмо
              все-таки дошло, и вы в полной мере смогли насладиться
              дополнительными возможностями и скидками.
            </div>
            <div class="form-group">
              <label class="control-label" for="email">Email</label>

              <div class="controls">
                <%= f.email_field :email %>
              </div>
            </div>
            <div class="form-actions">
              <%= f.submit "Прислать письмо", class: 'btn btn-default btn-primary' %>
              <%= render :partial => "devise/shared/links" %>
            </div>
        <% end %>
      </div>
    </div>
<% end %>