<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <meta name="description" content="<%= description %>"/>
  <meta name="keywords" content="<%= keywords %>"/>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "order" %>
  <%#= javascript_include_tag "showpass" %>
</head>
<body>
<div id="main">
  <div id="right_side">
    <div id="right_container">
      <div id="header">
        <div class="nav">
          <ul>
            <li><%= link_to "Магазин", '/' %></li>
            <% if user_signed_in? %>
                <li><%= link_to "Личный кабинет", current_user %></li>
            <% end %>
            <%= render 'devise/menu/registration_items' %>
            <%= render 'devise/menu/login_items' %>
          </ul>
        </div>
      </div>
      <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
      <% end %>
      <div id="title">
        <h1><%= title %></h1>
      </div>
      <%= content_for?(:paginate) ? yield(:paginate) : nil %>
      <% if content_for?(:items) %>
          <div id="items" class="container">
            <%= yield(:items) %>
          </div>
      <% else
           if content_for?(:main) %>
              <%= yield(:main) %>
          <% else %>
              <%= yield %>
          <% end %>
      <% end %>
    </div>
  </div>
  <!-- Левая часть страницы-->
  <div id="left_side">
    <%= link_to image_tag("logo.png", :alt => "Логотип"), root_path %>
    <%= form_tag '/search' do %>
        <div id="search_box">
          <%= search_field_tag :search, nil, :size => 30 %>
          <%= submit_tag 'Найти' %>
        </div>
    <% end %>
    <div id="sections">
      <h2>Категории:</h2>
      <% if @sections %>
          <%= render @sections %>
      <% end %>
    </div>
    <div id="cart_box">
      <% if @cart %>
          <%= hidden_div_if(@cart.line_items.empty?, :id => "cart") do %>
              <%= render @cart %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
</body>
</html>


