<script>
    $(function () {
        $('#item_section_id').change(function () {
            var val = +$(this).attr('value');
            var href = '/admin/items/parameters_list?section='+val;
            $('#parameters_list').attr('href', href).click();
        });
        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        var atoken = $("input[name=authenticity_token]").val();
        var uploader = new plupload.Uploader({
            runtimes:'html5,html4',
            browse_button:'pickfiles',
            container:'container',
            max_file_size:'10mb',
            url:'<%= admin_images_path%>',
            multipart:true,
            multipart_params:{ authenticity_token:atoken},
            filters:[
                {title:"Image files", extensions:"jpg,gif,png,jpeg"}
            ]
        });

        uploader.bind('Init', function (up, params) {
            $('#runtime').html(params.runtime);
        });

        $('#uploadfiles').click(function (e) {
            uploader.start();
            e.preventDefault();
        });

        uploader.init();

        uploader.bind('FilesAdded', function (up, files) {
            $.each(files, function (i, file) {
                $('#filelist').prepend(
                        '<div class="span2 cell" id="' + file.id + '">' +
                                '<div class="img-title">' + plupload.formatSize(file.size) + '<a href="#" class="badge badge-inverse delete" data-method="delete" data-remote="true" rel="nofollow" style="display:none;">X</a></div> ' +
                                '<div class="progress progress-success">' +
                                '<div class="bar" style="width: 0;"></div></div></div>');
            });
            //up.refresh(); // Reposition Flash/Silverlight
            up.start()
        });

        uploader.bind('UploadProgress', function (up, file) {
            $('#' + file.id + " .bar").attr('style', 'width:' + file.percent + '%;');
        });

        uploader.bind('Error', function (up, err) {
            var img_box = $('#' + err.file.id);
            img_box.find('.title').append("Error: " + err.code +
                    ", Message: " + err.message +
                    (err.file ? ", File: " + err.file.name : "")
            );

            //up.refresh(); // Reposition Flash/Silverlight
        });

        uploader.bind('FileUploaded', function (up, file, info) {

            var img_box = $('#' + file.id);
            var response = info['response'].split(':');
            img_box.find('.progress').attr('class', 'img').html('<img src="' + response[1] + '" />');
            img_box.find('.delete').attr('href', '/admin/images/' + response[0]).attr('id', response[0]).show();
        });
        $('#container').on('click', '.delete', function (e) {
            $(this).closest('.cell').hide();
        });
        $('#container').on('click', '.img', (function () {
            var cell = $(this).closest('.cell');
            var id = cell.find('.delete').attr("id");
            $('#main_image').val(id);
            $('.cell').css('border-color', 'transparent');
            cell.css('border-color', 'green');
        }));
    });
</script>
<%= link_to '', nil, :remote => true, :id => "parameters_list", :style => "display:none;" %>
<ul class="nav nav-tabs" id="myTab">
  <li class="active">
    <a href="#info">Инфо</a>
  </li>
  <li><a href="#images">Картинки</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="info">
    <%= form_for [:admin, @item], :html => {:class => 'form-horizontal'} do |f| %>
        <%= f.error_messages %>
        <fieldset>
          <div class="form-group col-md-12">
            <label class="control-label" for="item_title">Название</label>

            <div class="controls">
              <%= f.text_field :title, class: 'span6' %>
            </div>
          </div>
          <div class="span6">
            <div class="form-group">
              <label class="control-label" for="item_enabled">Включен?</label>

              <div class="controls">
                <%= f.check_box :enabled %>
              </div>
            </div>
            form-group <div class="form-group">
              <label class="control-label" for="item_recommend">Рекомендован?</label>

              <div class="controls">
                <%= f.check_box :recommend %>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="item_in_stock">В наличии?</label>

              <div class="controls">
                <%= f.check_box :in_stock %>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label" for=appendedInput>Цена</label>

              <div class="controls">
                <div class="input-append">
                  <%= f.text_field :price, id: "appendedInput" %>
                  <span class="add-on">руб</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for=item_meta_title>Мета-заголовок</label>

              <div class="controls">
                <%= f.text_field :meta_title %>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for=item_meta_keywords>Ключевые слова</label>

              <div class="controls">
                <%= f.text_field :meta_keywords %>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for=item_meta_description>Мета-описание</label>

              <div class="controls">
                <%= f.text_area :meta_description, :size => '40x5' %>
              </div>
            </div>
          </div>

          <div class="form-group span6">
            <label class="control-label" for="item_section_id">Категория</label>

            <div class="controls">
              <%= f.collection_select :section_id, @sections, :id, :title, :selected => f.object.section_id %>
            </div>
          </div>
          <div id="right" class="span6">
            <div id="properties">

              <% @parameters.each do |param| %>
                  <div class="form-group property" id="param_<%=param.id %>">
                    <label class="control-label" for="item_<%= "amounts[#{param.id}]" %>"><%= param.title %></label>

                    <div class="controls">
                      <% kind=Amount::KINDS[param.kind] %>

                      <% if @unsaved_amounts.blank?
                           amounts=@item.try(:amounts)&param.try(:amounts)
                           am= amounts.empty? ? nil : amounts[0].try(kind)
                         else
                           am=@unsaved_amounts["#{param.id}"]
                         end %>

                      <% case param.kind
                           when 0 %>
                          <%= text_field_tag "amounts[#{param.id}]", am, :placeholder => param.hint %>
                      <% when 1 %>
                          <div class="input-append">
                            <%= number_field_tag "amounts[#{param.id}]", am, :placeholder => param.hint %>
                            <span class="add-on"><%= param.measure %></span>
                          </div>
                      <% when 2 %>
                          <%= hidden_field_tag "amounts[#{param.id}]", false %>
                          <%= check_box_tag "amounts[#{param.id}]", true, am %>
                      <% end %>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label" for="item_description">Описание товара</label>

            <div class="controls">
              <%= f.text_area :description, :rows => 4, :class => 'span9' %>
            </div>
          </div>
          <%= hidden_field_tag :main_image %>
          <div class="form-actions col-md-12">
            <%= f.submit "Сохранить", class: 'btn btn-default btn-primary' %>
          </div>
        </fieldset>
    <% end %>
  </div>
  <div class="tab-pane" id="images">
    <div id="container">
      <a id="pickfiles" href="#" class="btn btn-default">Выберите файлы</a>
      <!--
      <a id="uploadfiles" href="#" class="btn btn-default btn-primary">Загрузить</a>
      <span id="runtime" class="label label-info"></span>
      -->
      <div id="filelist">
        <%= render @new_images %>
      </div>
      <div id="item-images">
        <%= render @item.images %>
      </div>
    </div>
  </div>
</div>
