<%= content_tag_for :tr, item, class: item.enabled? ? '' : 'disabled' do %>
    <td><%= check_box_tag 'items_id[]',item.id, false %></td>
    <td class="handle"><i class="glyphicon glyphicon-move"></i></td>
    <td><%= link_to item.title, edit_admin_item_path(item) %></td>
    <td class="right"><%= item.price %>р.</td>

    <% if item.enabled? %>
        <td><%= link_to raw("<i class='glyphicon glyphicon-off'></i>"), trigger_admin_item_path(:id => item, :field => :enabled), title: 'Включено', remote: true, :class => "active btn btn-default btn-xs enabled" %></td>
    <% else %>
        <td><%= link_to raw("<i class='glyphicon glyphicon-off'></i>"), trigger_admin_item_path(:id => item, :field => :enabled), title: 'Выключено', remote: true, :class => "btn btn-default btn-xs enabled" %></td>
    <% end %>

    <% if item.recommend? %>
        <td><%= link_to raw("<i class='glyphicon glyphicon-thumbs-up'></i>"), trigger_admin_item_path(:id => item, :field => :recommend), title: 'Рекомендуем', remote: true, :class => "active btn btn-default btn-xs recommend"%></td>
    <% else %>
        <td><%= link_to raw("<i class='glyphicon glyphicon-thumbs-down'></i>"), trigger_admin_item_path(:id => item, :field => :recommend), title: 'Не рекомендуем', remote: true, :class => "btn btn-default btn-xs recommend"%></td>
    <% end %>

    <% if item.in_stock? %>
        <td><%= link_to raw("<i class='glyphicon glyphicon-barcode'></i>"), trigger_admin_item_path(:id => item, :field => :in_stock), title: 'Есть в наличии', remote: true, :class => "active btn btn-default btn-xs in_stock"%></td>
    <% else %>
        <td><%= link_to raw("<i class='glyphicon glyphicon-plane'></i>"), trigger_admin_item_path(:id => item, :field => :in_stock), title: 'Нет в наличии', remote: true, :class => "btn btn-default btn-xs in_stock"%></td>
    <% end %>

    <td><%= link_to raw("<i class='glyphicon glyphicon-repeat'></i>"), duplicate_admin_item_path(item),title: 'Клонировать', :class => 'btn btn-default btn-xs' %></td>
    <td><%= link_to raw("<i class='glyphicon glyphicon-trash glyphicon glyphicon-white'></i>"), admin_item_path(item), :remote=> true, method: :delete, :class => 'btn btn-default btn-danger btn-xs delete' %></td>
<% end %>