<% unless @items.empty? %>
    <div style="margin-bottom: 10px">
      Товаров на странице:
      <%= per_page 10 %>
      <%= per_page 25 %>
      <%= per_page 50 %>
      <%= per_page 1000 %>
    </div>
<% end %>
<%= paginate @items, remote: true %>
<table class="table auto table-condensed">
  <tbody id="its" data-update-url="<%= sort_admin_items_url %>">
  <%= render @items %>
  </tbody>
</table>