<div class="form-group property" id="param_<%= param.id %>">
  <label class="control-label" for="item_<%= "amounts[#{param.id}]" %>"><%= param.title %></label>

  <div class="controls">
    <% case param.kind
         when 0 %>
        <%= text_field_tag "amounts[#{param.id}]", nil, :placeholder => param.hint %>
    <% when 1 %>
        <div class="input-append">
          <%= number_field_tag "amounts[#{param.id}]", nil, :placeholder => param.hint %>
          <span class="add-on"><%= param.measure %></span>
        </div>
    <% when 2 %>
        <%= hidden_field_tag "amounts[#{param.id}]", false %>
        <%= check_box_tag "amounts[#{param.id}]", true, false %>
    <% end %>
  </div>
</div>