$('.flash').remove();
$('body').append('<%= escape_javascript (render partial: 'layouts/flash', locals: { flash: flash}) %>');
show_flashes();
<% if @destroyed %>
$('#item_<%= @item.id%>').remove();
<% else %>
$('#item_<%= @item.id%>').replaceWith('<%= escape_javascript( render @item)%>');
<% end %>