<script>
    $(function () {

        $('#its').sortable({
            axis:'y',
            handle:'.handle',
            update:function () {
                $.post($(this).data('update-url'), $(this).sortable('serialize'));
            }
        });
        var section = $('#section');
        $('#operation').change(function () {
            if ($(this).attr('value') == '1') {
                section.show();
            } else {
                section.hide();
            }
        });
    });
</script>
<div class="span3">
  <% unless @sections.blank? %>
      <div class="sections">
        <ul class="nav nav-pills nav-stacked">
          <%= filter_link_li 'Все категории', {:section => "clear"} %>
          <% @sections.each do |section| %>
              <% unless section.level==1 %>
                  <%= filter_link_li section.title, {:section => section.id}, :style => "margin-left:#{(section.level*10-20)}px" %>
              <% end %>
          <% end %>
        </ul>
      </div>
  <% end %>
  <div class="statuses">
    <ul class="nav nav-pills nav-stacked">
      <%= filter_link_li "Все товары", {:enabled => "clear"} %>
      <%= filter_link_li "На витрине", :enabled => true %>
      <%= filter_link_li "Архивные", :enabled => false %>
    </ul>
  </div>
</div>
<%= form_tag '/admin/items/massacre' do %>
    <div id="items">
      <%= render 'items' %>
    </div>
    <% unless @items.blank? %>
        С выбранными:<br/>
        <%= select_tag "operation", options_for_select([['Удалить', 0], ['Переместить в категорию', 1]]) %>
        <%= select_tag "section", options_for_select(@sections.collect { |sect| [sect.title, sect.id] }), style: 'display:none;' %>
        <%= submit_tag 'Выполнить', class: 'btn btn-default', style: 'margin-bottom:8px;' %>
    <% end %>
<% end %>
