var amounts = [];

<% @parameters.each do |param|
  @amounts={}
  @amounts[param.id]=param.amounts.collect { |am| am.value } %>
<%="amounts['amounts_#{param.id}']="%><%= raw(@amounts[param.id])<<";" %>
<% end %>
