$('.property').hide();
<% @parameters.each do |param| %>
if ($('#param_<%= param.id%>').length) {
    $('#param_<%= param.id%>').show();
} else {
    $('#properties').append('<%= escape_javascript(render partial: 'parameter', locals: { :param => param })%>');
}
<% end %>