<% content_for :main do %>
    <div>
      <%= link_to image_tag(@item.image.url(:medium)), @item.image.url %>

      <h3><%= "Описание:" %></h3>
      <%= sanitize(@item.description) %>
      <% section=@item.section %>
      <ul>
        <% section.parameters.each do |param| %>
            <% amount=@item.amounts.find_by_parameter_id(param.id)
               if amount %>
                <div>
                  <b><%= "#{param.title}: " %></b> <%= amount.value %>
                </div>
            <% end %>

        <% end %>
      </ul>
      <div>
        <span><%= "#{@item.price} руб." %></span>
        <%= button_to 'В корзину', line_items_path(:item_id => @item),
                      :remote => true %>
      </div>

      <% if current_user.try(:admin?) %>
          |      <%= link_to "редак.", edit_admin_item_path(@item) %>
          |      <%= link_to "удал.", admin_item_path(@item), :method => :delete %>
      <% end %>

    </div>

<% end %>