var item = $('#item_<%=@item.id %>');
var enabled = item.find('.enabled');
var recommend = item.find('.recommend');
var in_stock = item.find('.in_stock');

<% if @item.enabled? %>
enabled.addClass('active').attr('title', 'Включен').closest('tr').removeClass('disabled');
<% else %>
enabled.removeClass('active').attr('title', 'Выключен').closest('tr').addClass('disabled');
<% end %>

<% if @item.recommend? %>
recommend.addClass('active').attr('title', 'Рекомендуем').html("<i class='glyphicon glyphicon-thumbs-up'></i>");
<% else %>
recommend.removeClass('active').attr('title', 'Не рекомендуем').html("<i class='glyphicon glyphicon-thumbs-down'></i>");
<% end %>

<% if @item.in_stock? %>
in_stock.addClass('active').attr('title', 'Есть в наличии').html("<i class='glyphicon glyphicon-barcode'></i>");
<% else %>
in_stock.removeClass('active').attr('title', 'Нет в наличии').html("<i class='glyphicon glyphicon-plane'></i>");
<% end %>
