<% content_for :single_column do %>

    <!--
    <div class="wide_block">
      <% @authentications = current_user.authentications if signed_in? %>
    <% if @authentications %>
        <% unless @authentications.empty? %>
              <p>Вы можете <strong>войти</strong> через один из этих сервисов:</p>

              <div class="authentications">
                <% for authentication in @authentications %>
                    <div class="authentication">
                      <%= image_tag "#{authentication.provider}_32.png", :size => "32x32" %>
                      <div class="provider"><%= authentication.provider.titleize %></div>
                      <div class="uid"><%= authentication.uid %></div>
                      <%= link_to "X", authentication, :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "remove" %>
                    </div>
                <% end %>
                <div class="clear"></div>
              </div>
          <% end %>
          <div class="wide_block">
            <p>Добавьте другой сервис, через который будете <b>входить </b>в будущем:</p>
          </div>
      <% else %>
          <div class="wide_block">
            <p><strong>Войдите </strong>через один из этих сервисов:</p>
          </div>
      <% end %>
    </div>
    <div class="providers">
      <a href="/auth/twitter" class="auth_provider">
        <%= image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter" %>
        Twitter
      </a>
      <a href="/auth/facebook" class="auth_provider">
        <%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %>
        Facebook
      </a>
      <a href="/auth/google_apps" class="auth_provider">
        <%= image_tag "google_64.png", :size => "64x64", :alt => "Google" %>
        Google
      </a>
    </div>
    -->
    <div class="row">
      <div class="span3" style="color: transparent">.</div>
      <div class="span6">
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :validate => true, :html => {class: 'form-horizontal', :method => :put}) do |f| %>
            <%= devise_error_messages! %>
             <legend>Настройки личного кабинета</legend>
            <div class="form-group">
              <label class="control-label" for="user_email">Email</label>

              <div class="controls">
                <%= f.email_field :email %>
              </div>
            </div>
            <legend>Сменить пароль</legend>

            <div class="form-group">
              <label class="control-label" for="user_password">Новый пароль</label>

              <div class="controls">
                <%= f.password_field :password %>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label" for="user_current_password">Старый пароль</label>

              <div class="controls">
                <%= f.password_field :current_password %>
              </div>
            </div>
            <div class="form-actions">
              <%= f.submit "Обновить", class: 'btn btn-default btn-primary' %>
              <%= link_to raw("<i class='glyphicon glyphicon-trash glyphicon glyphicon-white'></i> Удалить аккаунт"), registration_path(resource_name), :confirm => "Вы уверены?", :method => :delete, class: 'btn btn-default btn-danger' %>

            </div>
        <% end %>
      </div>
    </div>
<% end %>