<% content_for :single_column do %>
    <!--
    <p><b>Зарегистрируйтесь </b>через один из этих сервисов:</p>
    <%= render :partial => "devise/menu/authservices" %>
    <div class="wide_block">
    -->
    <div class="row">
      <div class="span3" style="color: transparent">.</div>
      <div class="span6">
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
            <%= devise_error_messages! %>
            <div class="form-group">
              <legend>Регистрация</legend>
              <label class="control-label" for="email">Email</label>

              <div class="controls">
                <%= f.email_field :email %>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="passworf">Пароль</label>

              <div class="controls">
                <%= f.password_field :password %>
              </div>
            </div>
            <div class="form-actions">
              <div style="margin-bottom: 10px">
                <%= f.submit "Зарегистрироваться", class: 'btn btn-default btn-primary' %>
              </div>
              <div>
                <%= render :partial => "devise/shared/links" %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
<% end %>
