<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
Дорогой(ая) <%= @order.name %>!

Спасибо вам за ваш недавний заказ в Книжной полке.
Вы заказали следующий товар:
<%= render @order.line_items %>
Мы пришлем вам еще одно письмо, когда обработаем ваш заказ.

<%= link_to 'Посмотреть детали и состояние заказа', order_url(@order, :email_hash => @order.email_hash) %>
</body>
</html>