<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
Дорогой(ая) <%= @order.name %>!
<br/>Ваше заказ из Книжной полки обработан нами.

<br/>Вы заказали следующий товар:
<%= render @order.line_items %>

<%= link_to 'Посмотреть детали и состояние заказа', order_url(@order, :email_hash => @order.email_hash) %>
</body>
</html>