<%= form_for [:admin, @amount] do |f| %>

    <%= render 'shared/error_messages', :object => f.object %>

    <div class="field">
      <%= f.label :value, "Значение" %>
      <br/>
      <%= f.text_field :value %>
    </div>

    <div>
      <%= f.submit "Отправить" %>
    </div>
<% end %>