<h2>В корзине:</h2>
<%= button_to 'Оформить', new_order_path, :method => :get, :class => 'btn btn-default order' %>
<%= button_to 'Очистить', cart,
              :remote => true, :method => :delete,
              :confirm => 'Уверены?', :class => ' btn btn-default clear' %>
<table>
  <tr>
    <td colspan="2">Итого</td>
    <td><%= "#{cart.total_price}р." %></td>
  </tr>
  <%= render(cart.line_items) %>
</table>



