<h1>Listing carts</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @carts.each do |cart| %>
      <tr>
        <td><%= link_to 'Show', admin_cart(cart) %></td>
        <td><%= link_to 'Destroy', admin_cart(cart), confirm: 'Are you sure?', method: :delete %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Cart', new_admin_cart_path %>
