<%= content_tag_for :tr, order do %>

    <td>
      <%= order.created_at.stamp("%d.%m.%y") %>
      <i class='glyphicon glyphicon-time'></i>
      <%= order.created_at.stamp("%H:%M") %>
    </td>
    <td><%= link_to "Заказ №#{order.id}", edit_admin_order_path(order) %></td>
    <td><%= order.name %></td>
    <td class="right"><span class="badge badge-info"><%= order.quantity.to_i %></span></td>
    <td class="right"><%= order.total.to_i %>р</td>

    <% if [2, 3].include?(order.status) %>
        <td><%= content_tag :p, raw("<i class='glyphicon glyphicon-ok glyphicon glyphicon-white'></i>"), :class => 'btn btn-default btn-success disabled btn-xs', :title => "Установить статус 'Выполнен'" %></td>
    <% else %>
        <td><%= link_to raw("<i class='glyphicon glyphicon-ok glyphicon glyphicon-white'></i>"), complete_admin_order_path(order), :class => 'btn btn-default btn-success btn-xs', :title => "Установить статус 'Выполнен'" %></td>
    <% end %>

    <% if [2, 3].include?(order.status) %>
        <td><%= content_tag :p, raw("<i class='glyphicon glyphicon-trash glyphicon glyphicon-white'></i>"), class: 'disabled btn btn-default btn-danger btn-xs', :title => 'Деактивирован' %></td>
    <% else %>
        <td><%= link_to raw("<i class='glyphicon glyphicon-trash glyphicon glyphicon-white'></i>"), cancel_admin_order_path(order), class: 'btn btn-default btn-danger btn-xs', :title => 'В активном состоянии' %></td>
    <% end %>
    <td><%= link_to raw("<i class='glyphicon glyphicon-envelope'></i>"), admin_orders_path(:field => :email, :value => order.email), :class => 'btn btn-default btn-xs', :title => 'Найти по email' %></td>
<% end %>