<script>
    $(function () {
        var delivery = +$('#delivery').html();
        var threshold = +$('#threshold').html();

        $("#container").on("keyup", "#discount", function () {

            var discount = +$(this).val();
            var total = $('#total');
            var total_value = +total.html();
            var total_discount = Math.round(total_value * (100 - discount) / 100);
            $("#total-discount").html(total_discount);
            var total_discount_delivery = $('#total-discount-delivery');
            var total_discount_delivery_new = total_discount;
            if (!(total_discount > threshold)) {
                total_discount_delivery_new += delivery;
            }
            total_discount_delivery.html(total_discount_delivery_new);
        });
        $("#container").on("click", "#discount", function () {
            $(this).keyup();
        });

        <!-- реакция на выбор товара в списке добавления: модифицируется ссылка, -->
        <!-- ведущая на функцию добавления, нажимается, подгрузка товаров -->
        $("#add-item-select").on("change", '#item_id', function () {
            var item_id = +$(this).attr('value');
            var href = '/admin/orders/<%= @order.id%>/add_item?item_id=' + item_id;
            $('#add-item-link').attr('href', href).click();
            $(this).prop('selectedIndex',0);
        });

        <!-- реакция на изменение количества товара: -->
        <!-- пересчет всего, чего можно, отправка формы -->
        $("#container").on("keyup", ".quantity", function () {
            var quantity = +$(this).val();
            var line_item = $(this).closest("tr");
            var cost = line_item.find('.cost');
            var price = +line_item.find('.price').html();
            var discount = +$("#discount").val();
            var cost_old = +cost.html();
            var cost_new = price * quantity;
            cost.html(cost_new);
            var total = $('#total');
            var total_old = +total.html();
            var total_new = total_old + cost_new - cost_old;
            total.html(total_new);
            var total_discount = Math.round(total_new * (100 - discount) / 100);
            $('#total-discount').html(total_discount);
            var total_discount_delivery = $('#total-discount-delivery');
            var total_discount_delivery_new = total_discount;
            if (!(total_discount > threshold)) {
                total_discount_delivery_new += delivery;
            }
            total_discount_delivery.html(total_discount_delivery_new);
            $("#discount").keyup();
        });
        <!-- реакция на выбор товара в списке добавления -->
        $("#container").on("mouseup", ".quantity", function () {
            $(this).keyup();
        });
        $("#container").on('click',".delete", function () {
            var cost=+$(this).closest('tr').find('.cost').html();
            var total = $('#total');
            var total_old=+total.html();
            var total_new=total_old-cost;
            total.html(total_new);
            $(this).closest('tr').remove();
            $("#discount").keyup();
        });
    });
</script>
<div id="edit-order">
  <%= link_to 'добавить', add_item_admin_order_path(@order, :item_id => @items[1].id), :remote => true, :id => "add-item-link", :style => "display:none;" %>
  <%= form_for [:admin, @order] do |f| %>
      <h2><%= "Заказ №#{@order.id}" %>
        <span class='label label-info'><%= @statuses[f.object.status] %></span>
      </h2>

      <div class="left span8">
        <ul class="pager">
          <% unless @prev.blank? %>
              <% prev_status=@statuses[@prev.status] %>
              <li class="previous">
                <%= link_to "← '#{prev_status}' позже ", edit_admin_order_path(@prev) %>
              </li>
          <% end %>
          <% unless @next.blank? %>
              <% next_status= @statuses[@next.status] %>
              <li class="next">
                <%= link_to "'#{next_status}' раньше →", edit_admin_order_path(@next) %>
              </li>
          <% end %>
        </ul>
        <div class="alert alert-info">
          Порог доставки: <b id="threshold"><%= @threshold %></b> руб <br/>
          Стоимость доставки: <b id="delivery"><%= @delivery %></b> руб
        </div>
        <div id="add-item-select">
          <%= select_tag :item_id, options_from_collection_for_select(@items, :id, :title), :prompt => "Добавьте товар" %>
        </div>
        <div id="container">
        <% unless @order.line_items.empty? %>
            <table id="items" class="table table-condensed">
              <tbody>
              <%= f.fields_for :line_items do |builder| %>
                  <% render builder.object, :f => builder %>
              <% end %>
              <tr>
                <td colspan=4 class="right">
                  Всего: <b id="total"><%= @order.total %></b>р
                </td>
                <td></td>
              </tr>
              <tr>
                <td colspan=4 class="right">
                  Всего + скидка: <b id="total-discount"><%= @total_discount %></b>р
                </td>
                <td class="center">
                  <%= f.number_field :discount, style: 'width:30px;', title: 'Скидка', id: "discount" %>%
                </td>
              </tr>
              <tr>
                <td colspan="4" class="right">
                  Всего + скидка + доставка: <b id='total-discount-delivery'><%= @total_discount_delivery %></b>р
                </td>
                <td></td>
              </tr>
              </tbody>
            </table>
        <% end %>
        </div>
          <%= f.text_area :manager_comment, :placeholder => "Комментарий менеджера", :rows => 2 %>

      </div>
      <div class="span3">
        <blockquote>
          <small>время</small>
          <p>
            <% if @order.created_at.today? %>
                <%= @order.created_at.stamp("Сегодня") %>
                <i class='glyphicon glyphicon-time'></i>
                <%= @order.created_at.stamp("%H:%M") %>
            <% else %>
                <%= @order.created_at.stamp("%d.%m.%y") %>
                <i class='glyphicon glyphicon-time'></i>
                <%= @order.created_at.stamp("%H:%M") %>
            <% end %>
          </p>
          <small>адрес</small>
          <p>
            <%= @order.address %>
          </p>
          <% unless @order.email.blank? %>
              <small>email</small>
              <p>
                <%= @order.email %>
              </p>
          <% end %>
          <small>телефон</small>
          <p>
            <%= @order.phone %>
          </p>
          <small>оплата</small>
          <p>
            <%= @pay_types[@order.pay_type] %>
          </p>
          <% unless @group.blank? %>
              <small>группа</small>
              <p>
                <%= link_to(@group.title, admin_group_path(@group)) %>
              </p>
          <% end %>
          <% unless @order.comment.blank? %>
              <small>комментарий</small>
              <p>
                <%= @order.comment %>
              </p>
          <% end %>
        </blockquote>

      </div>
      <div class="col-md-12">
        <%# unless @order.status==2 %>

        <%# end %>
      </div>
      <div class="form-actions col-md-12">
        <%= f.select :status, Order::STATUS  %>  <%= f.submit 'Сохранить', class: 'btn btn-default btn-primary' %>
      </div>
  <% end %>
</div>
