<div class="statuses span2">
  <ul class="nav nav-pills nav-stacked">
    <%= filter_link_li "Все заказы", {:status => "clear"} %>
    <%= filter_link_li "Новые", :status => 0 %>
    <%= filter_link_li "Принятые", :status => 1 %>
    <%= filter_link_li "Выполненные", :status => 2 %>
    <%= filter_link_li "Удаленные", :status => 3 %>
  </ul>
</div>
<div id="orders" class="span9">
  <% if @orders.blank? %>
      <h2>Пока пусто</h2>
  <% else %>
      <table class="table auto table-condensed">
        <tbody>
        <%= render @orders %>
        </tbody>
      </table>
      <%= paginate @orders %>
  <% end %>
</div>
