<script>
    $(function () {
        var delivery = +$('#delivery').html();
        var threshold = +$('#threshold').html();
        <!-- реакция на изменение скидки: пересчет суммы со скидкой, отправка формы -->
        $("#discount").keyup(function () {
            var discount = +$(this).val();
            var total = $('#total');
            var total_value = +total.html();
            var total_discount = Math.round(total_value * (100 - discount) / 100);
            $("#total-discount").html(total_discount);
            var total_discount_delivery = $('#total-discount-delivery');
            var total_discount_delivery_new = total_discount;
            if (!(total_discount > threshold)) {
                total_discount_delivery_new += delivery;
            }
            total_discount_delivery.html(total_discount_delivery_new);
        });
        $("#discount").click(function () {
            $(this).keyup();
        });
        <!-- реакция на выбор товара в списке добавления: модифицируется ссылка, -->
        <!-- ведущая на функцию добавления, нажимается, подгрузка товаров -->
        $("#add-item-select").on("change", '#item_id', function () {
            var item_id = +$(this).attr('value');
            var href = '/admin/carts/<%= @cart.id%>/add_item?item_id=' + item_id;
            $('#add-item-link').attr('href', href).click();
            $(this).prop('selectedIndex', 0);
        });
        <!-- реакция на изменение количества товара: -->
        <!-- пересчет всего, чего можно, отправка формы -->
        $("#container").on("keyup", ".quantity", function () {
            var quantity = +$(this).val();
            var line_item = $(this).closest("tr");
            var cost = line_item.find('.cost');
            var price = +line_item.find('.price').html();
            var discount = +$("#discount").val();
            var cost_old = +cost.html();
            var cost_new = price * quantity;
            cost.html(cost_new);
            var total = $('#total');
            var total_old = +total.html();
            var total_new = total_old + cost_new - cost_old;
            total.html(total_new);
            var total_discount = Math.round(total_new * (100 - discount) / 100);
            $('#total-discount').html(total_discount);
            var total_discount_delivery = $('#total-discount-delivery');
            var total_discount_delivery_new = total_discount;
            if (!(total_discount > threshold)) {
                total_discount_delivery_new += delivery;
            }
            total_discount_delivery.html(total_discount_delivery_new);
            $("#discount").keyup();
            $('#submit').click();
        });
        <!-- реакция на выбор товара в списке добавления -->
        $("#container").on("mouseup", ".quantity", function () {
            $(this).keyup();
        });
        $("#container").on('click', ".delete", function () {
            var cost = +$(this).closest('tr').find('.cost').html();
            var total = $('#total');
            var total_old = +total.html();
            var total_new = total_old - cost;
            total.html(total_new);
            $(this).closest('tr').remove();
            $("#discount").keyup();
        });
    });
</script>
<div class= 'col-md-12 alert alert-info'>
  Порог доставки: <b id="threshold"><%= @threshold %></b> руб <br/>
  Стоимость доставки: <b id="delivery"><%= @delivery %></b> руб <br/>
  После сохранения заказ обретет статус "Принят".
</div>
<div id="order-cart" class='span8'>
  <%= form_for [:admin, @cart], remote: true do |f| %>
      <%= link_to 'добавить', add_item_admin_cart_path(@cart, :item_id => @items[1].id), :remote => true, :id => "add-item-link", :style => "display:none;" %>
      <div id="add-item-select">
        <%= select_tag :item_id, options_from_collection_for_select(@items, :id, :title), :prompt => "Добавьте товар" %>
      </div>
      <div id=container>
        <% unless @cart.line_items.empty? %>
            <table id="items" class="table table-condensed">
              <tbody>
              <%= f.fields_for :line_items do |builder| %>
                  <% render builder.object, :f => builder %>
              <% end %>
              <tr>
                <td colspan=4 class="right">
                  Всего: <b id="total"><%= @cart.total %></b>р
                </td>
                <td></td>
              </tr>
              <tr>
                <td colspan=4 class="right">
                  Всего + скидка: <b id="total-discount"><%= @total_discount %></b>р
                </td>
                <td class="center">
                </td>
              </tr>
              <tr>
                <td colspan="4" class="right">
                  Всего + скидка + доставка: <b id='total-discount-delivery'><%= @total_discount_delivery %></b>р
                </td>
                <td></td>
              </tr>
              </tbody>
            </table>
        <% end %>
      </div>

      <div style="display:none;">
        <%= f.submit :id => 'submit' %>
      </div>
  <% end %>

  <%= form_for [:admin, @order], html: {class: 'form-horizontal'} do |f| %>
      <%= f.hidden_field :status  %>
      <%= f.error_messages %>

      <fieldset id=order-form>
        <legend>Данные клиента:</legend>
        <div class="form-group">
          <label class="control-label" for="discount">Скидка</label>

          <div class="controls">
            <%= f.number_field :discount, :in => 0..100, style: 'width:35px;', id: "discount" %>%
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="order_name">ФИО</label>

          <div class="controls">
            <%= f.text_field :name %>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="order_phone">Телефон</label>

          <div class="controls">
            <%= f.text_field :phone, :placeholder => "9110001122" %>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="order_address">Адрес</label>

          <div class="controls">
            <%= f.text_area :address, :rows => 2, :placeholder => "Улица, дом, квартира" %>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="order_email">Email</label>

          <div class="controls">
            <%= f.email_field :email %>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="order_pay_type">Метод оплаты</label>

          <div class="controls">
            <%= f.select :pay_type, Order::PAYMENT_TYPES %>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="order_comment">Комментарий менеджера</label>

          <div class="controls">
            <%= f.text_area :manager_comment, :placeholder => "Комментарий менеджера", :rows => 2 %>

          </div>
        </div>
        <div class="form-actions">
          <%= f.submit 'Принять заказ', class: 'btn btn-default btn-primary' %>
        </div>
      </fieldset>
  <% end %>
</div>
