<% if @authentications %>
    <% unless @authentications.empty? %>
        <p><strong>You can sign in to this account using:</strong></p>
        <div class="authentications">
          <% for authentication in @authentications %>
              <div class="authentication">
                <%= image_tag "#{authentication.provider}_32.png", :size => "32x32" %>
                <div class="provider"><%= authentication.provider.titleize %></div>
                <div class="uid"><%= authentication.uid %></div>
                <%= link_to "X", authentication, :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "remove" %>
              </div>
          <% end %>
          <div class="clear"></div>
        </div>
    <% end %>
    <p>Add another service<b> to sign in with:</b></p>
<% else %>
    <p><strong>Sign in </strong>through one of these services:</p>
<% end %>

<a href="/auth/twitter" class="auth_provider">
  <%= image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter" %>
  Twitter
</a>
<a href="/auth/facebook" class="auth_provider">
  <%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %>
  Facebook
</a>
<a href="/auth/google_apps" class="auth_provider">
  <%= image_tag "google_64.png", :size => "64x64", :alt => "Google" %>
  Google
</a>
<div class="clear"></div>
<p class="block">Don't use these services?
  <%= link_to 'Sign up', new_user_registration_path %> or
  <%= link_to 'sign in', new_user_session_path %> with password!
</p>