<%= form_for [:admin, @section], :html => {:class => 'form-horizontal'} do |f| %>
    <%= f.error_messages %>

    <div class="form-group">
      <label class="control-label" for="section_title">Название</label>

      <div class="controls">
        <%= f.text_field :title, :class => 'title span7' %>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="section_enabled">Активна?</label>

      <div class="controls">
        <%= f.check_box :enabled %>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="section_parent_id">Родительская категория</label>

      <div class="controls">
        <%= collection_select(:section, :parent_id, @sections, :id, :title) %>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="section_meta_title">Meta-title</label>

      <div class="controls">
        <%= f.text_field :meta_title, class: 'span7' %>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="section_meta_keywords">Meta-keywords</label>

      <div class="controls">
        <%= f.text_field :meta_keywords, class: 'span7' %>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="section_meta_description">Meta-description</label>

      <div class="controls">
        <%= f.text_area :meta_description, :rows => 3, class: 'span7' %>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="paraneter_ids_">Параметры</label>

      <div class="controls">
        <%= select_tag("parameter_ids[]", options_for_select(@parameters.collect { |par| [par.title, par.id] }, @section.parameters.collect { |par| par.id }), {:multiple => true, :size => 6}) %>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="section_description">Описание категории</label>

      <div class="controls">
        <%= f.text_area :description, :rows => 3, class: 'span7' %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit "Сохранить", class: 'btn btn-default btn-primary' %>
    </div>

<% end %>
