<% unless section.level==1 %>
    <%= content_tag_for :tr, section do %>
        <td class="handle"><i class="glyphicon glyphicon-move"></i></td>
        <td><%= link_to "#{section.title}", admin_section_path(section), :style => "margin-left:#{(section.level*10-20)}px" %>
          <span title="Активных товаров"><%= " #{section.enabled_items.to_i}/#{section.all_items}" %></span></td>
        <td><%= link_to raw("<i class='glyphicon glyphicon-plus-sign'></i>"), new_admin_section_item_path(section), title: 'Добавить товар в эту категорию', :class => 'btn btn-default btn-xs' %></td>
        <% if section.enabled? %>
            <td><%= link_to raw("<i class='glyphicon glyphicon-off'></i>"), trigger_admin_section_path(id: section, field: :enabled), title: 'Выключить', remote: true, class: "active btn btn-default btn-xs enabled" %></td>
        <% else %>
            <td><%= link_to raw("<i class='glyphicon glyphicon-off'></i>"), trigger_admin_section_path(id: section, field: :enabled), title: 'Включить', remote: true, class: "btn btn-default btn-xs enabled" %></td>
        <% end %>
        <td><%= link_to raw("<i class='glyphicon glyphicon-pencil glyphicon glyphicon-white'></i>"), edit_admin_section_path(section), title: 'Редактировать', :class => 'btn btn-default btn-warning btn-xs' %></td>
        <td><%= link_to raw("<i class='glyphicon glyphicon-trash glyphicon glyphicon-white'></i>"), admin_section_path(section), :remote=> true, method: :delete, :confirm => 'Удалить?', :class => 'btn btn-default btn-danger btn-xs delete' %></td>
    <% end %>
<% end %>
