$('.flash').remove();
$('body').append('<%= escape_javascript (render partial: 'layouts/flash', locals: { flash: flash}) %>');
show_flashes();
<% if @section %>
$('#item_<%= @id%>').replaceWith('<%= escape_javascript( render @section)%>');
<% else %>
$('#item_<%= @id%>').remove();
<% end %>