<script>
    $(function () {
        $('#sects').sortable({
            axis:'y',
            handle:'.handle',
            update:function () {
                $.post($(this).data('update-url'), $(this).sortable('serialize'));
            }
        });
    });
</script>
<%= link_to raw("<i class='glyphicon glyphicon-plus glyphicon glyphicon-white'></i>категорию"), new_admin_section_path, :class => 'btn btn-default btn-primary add-button' %>
<div id="sections">
  <% unless @sections.blank? %>
      <table class="table auto table-condensed">
        <tbody id="sects" data-update-url="<%= sort_admin_sections_url %>">
        <%= render @sections %>
        </tbody>
      </table>
  <% end %>
</div>





