<script>
    $(function () {
        $('.delete').click(function () {
            $(this).closest('tr').hide();
        });
    });
</script>
<%= link_to raw("<i class='glyphicon glyphicon-plus-sign'></i>товар"), new_admin_section_item_path(@section), :class => 'btn btn-default' %>

<% if @items.blank? %>
    <h2>Пока пусто</h2>
<% else %>
    <%= paginate @items %>
    <div id="items">
      <table class="table auto table-condensed">
        <tbody>
        <%= render @items %>
        </tbody>
      </table>
    </div>
<% end %>
