var link=$('#section_<%=@section.id %>').find('.enabled');
<% if @section.enabled? %>
link.addClass('active').attr('title','Выключить');
<% else %>
link.removeClass('active').attr('title','Включить');
<% end %>
