<tr class="order">
  <% format= order.created_at.today? ? "Сегодня" : "%d.%m.%y" %>
  <td class="right"><%= link_to order.created_at.stamp(format), order, remote: true, :title => order.created_at.stamp("%d.%m.%Y"), class: 'pointer' %></td>
  <td class="right"><span class="badge-info badge"><%= order.quantity.to_i %></span></td>
  <td class="right"><%= "#{order.total.to_i}р" %></td>
  <td style="text-align: center;" class="last"><span class="label
                          <% case order.status %>
                          <% when 1 %>
                           label-warning
                          <% when 2 %>
                           label-success
                          <% when 3 %>
                           label-important
                          <% end %>
                          "><%= @statuses[order.status] %></td>
<td><i class="glyphicon glyphicon-play glyphicon glyphicon-white"></i></td>
</tr>