<% content_for :single_column do %>
    <script>
        set_time_zone_offset();
        $(function () {
            $('.order').click(function () {
                $(this).find('.pointer')[0].click();
                $('#order-info').html('<img src="/assets/282.gif" />');
                $('.glyphicon glyphicon-play').addClass('glyphicon glyphicon-white');
                $(this).find('.glyphicon glyphicon-play').removeClass('glyphicon glyphicon-white');
            });
        });
    </script>
    <% unless @orders.blank? %>
        <span class="alert alert-info">
      <i class="glyphicon glyphicon-question-sign"></i> Щелкните по строке в таблице, чтобы просмотреть детали заказа.
    </span>
        <br />
        <br />
    <% end %>
    <%= paginate @orders %>

    <table class="auto">
      <tr>
        <td style="vertical-align: top;">
          <% if @orders.blank? %>
              <h4><%= "Вы пока ничего не заказали." %></h4>
          <% else %>
              <table class="table table-striped table-bordered auto" style="cursor:pointer;">
                <thead>
                <th>Дата заказа</th>
                <th>Товаров</th>
                <th>Сумма заказа</th>
                <th>Статус</th>
                </thead>
                <tbody>
                <%= render :partial => 'user_order', :collection => @orders, :as => 'order' %>
                </tbody>
              </table>
          <% end %>
        </td>
        <td style="width:10px;"></td>
        <td id="order-info" style="vertical-align: top;">
        </td>
      </tr>
    </table>

<% end %>