<% content_for :single_column do %>
    <div class="row">
      <div class="span3" style="color: transparent">.</div>
      <div class="span6">
        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :put, class: 'form-horizontal'}) do |f| %>
            <%= devise_error_messages! %>
            <legend>Смена пароля</legend>
            <%= f.hidden_field :reset_password_token %>
            <div class="form-group">
              <label class="control-label" for="password">Новый пароль</label>

              <div class="controls">
                <%= f.password_field :password %>
              </div>
            </div>

            <div class="form-actions">
              <%= f.submit "Изменить мой пароль", class: 'btn btn-default btn-primary' %>
            </div>
            <%= render :partial => "devise/shared/links" %>
        <% end %>
      </div>
    </div>
<% end %>
