<% content_for :single_column do %>
    <div class="row">
      <div class="span3" style="color: transparent">.</div>
      <div class="span6">
        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post, class: 'form-horizontal'}) do |f| %>
            <%= devise_error_messages! %>
            <fieldset>
              <legend>Забыли пароль?</legend>
              <div class="form-group">
                <label class="control-label" for="email">Email</label>

                <div class="controls">
                  <%= f.email_field :email %>
                </div>
              </div>
            </fieldset>

            <div class="form-actions">
              <%= f.submit "Отправить письмо о восстановлении", class: 'btn btn-default btn-primary' %>
            </div>
            <%= render :partial => "devise/shared/links" %>
        <% end %>
      </div>
    </div>
<% end %>
