<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Фильтры
    </h3>
  </div>
  <div class="panel-body">

    <%= form_tag filter_section_path(@section), method: :get, remote: true do %>
        <dl>
          <dt>Цена</dt>
          <dd>
            <%= text_field_tag "[price][from]", nil, style: 'width:40px;' %> -
            <%= text_field_tag "[price][to]", nil, style: 'width:40px;' %>
            руб
          </dd>
          <% @parameters.each do |param| %>
              <% @amounts=(param.amounts & @section.amounts) %>

              <% unless @amounts.size<2 %>
                  <dt><%= param.title %></dt>
                  <dd>
                    <% case param.kind %>
                    <% when 0 %>
                        <% for amount in @amounts %>
                            <div class="checkbox">
                              <label>
                                <%= check_box_tag "amounts[#{param.id}][]", amount.id, false %>
                                <%= amount.str %>
                              </label>
                            </div>
                        <% end %>
                    <% when 1 %>

                        <%= text_field_tag "amounts[#{param.id}][from]", nil, style: 'width:40px;' %> -
                        <%= text_field_tag "amounts[#{param.id}][to]", nil, style: 'width:40px;' %>
                        <%= param.measure %>
                    <% when 2 %>
                        <% for amount in @amounts %>
                            <label class="radio">
                              <%= radio_button_tag "amounts[#{param.id}]", amount.id, false %>
                              <%= amount.logic? ? 'Да' : 'Нет' %></label>
                        <% end %>
                        <label class="radio"><%= radio_button_tag "amounts[#{param.id}]", '', true %> Не важно</label>
                    <% end %>
                  </dd>
              <% end %>
          <% end %>
        </dl>
        <%= submit_tag "Показать", class: 'btn btn-default btn-primary' %>
        <div id='to-top'>
        </div>
    <% end %>

  </div>
</div>
