<% unless section.level==1||section.enabled==false %>
    <% enabled_items=section.enabled_items.to_i %>
    <%= section_link "#{section.title}", section, enabled_items, :style => "padding-left:#{12+(section.level*10-20)}px",title: "#{enabled_items} позиции в этой категории" %>
<% end %>
