<% content_for :sidebar do %>
    <%= render 'layouts/sections' %>
    <%= render 'filters' %>
    <%= render 'layouts/search_form' %>

<% end %>
<div id="items">
  <%= render 'items/items' %>
</div>





