<% content_for :single_column do %>
    <script>
        $(document).ready(function () {
            $(".quantity input").keyup(function () {
                var quantity = $(this).val();
                var element = $(this).closest("tr");
                var cost = element.find('.cost b');
                var price = element.find('.price b').html();
                var discount = +$('#discount').html();
                var delivery = +$('#delivery').html();
                var threshold = +$('#threshold').html();
                var old_cost = +cost.html();
                var new_cost = price * quantity;
                cost.html(new_cost);
                var total = $('#total b');
                var total_old = +total.html();
                var total_new = total_old + new_cost - old_cost;
                total.html(total_new);
                var total_discount = Math.round(total_new * (100 - discount) / 100);
                $('#total-discount').html(total_discount);
                var total_discount_delivery = $('#total-discount-delivery');
                var total_discount_delivery_new = total_discount;
                if (!(total_discount > threshold)) {
                    total_discount_delivery_new += delivery;
                }
                total_discount_delivery.html(total_discount_delivery_new);

                $('#submit').click();
            });
            $(".quantity input").mouseup(function () {
                $(this).keyup();
            });
            $(".delete").click(function () {
                var cost = +$(this).closest('tr').find('.cost b').html();
                var total = $('#total b');
                var total_old = +total.html();
                var total_new = total_old - cost;
                total.html(total_new);
                $(this).closest('tr').remove();
                $(".quantity input").keyup();
            });
        });
    </script>
    <div class="alert alert-info">
      Стоимость доставки равна <b id="delivery"><%= @delivery %></b> руб, но если сумма заказа превышает
      <b id="threshold"><%= @threshold %></b> руб, доставка будет бесплатной.
    </div>
    <%= form_for @order_cart, remote: true do |f| %>

        <div id='out'>
          <table class='table auto table-bordered' id='in'>
            <thead>
            <th>Товар</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Стоимость</th>
            </thead>
            <tbody>
            <%= f.fields_for :line_items do |builder| %>
                <%= render 'order_line_item', :f => builder %>
            <% end %>
            <%# render :partial=> 'line_items/order_line_item', :collection => @order_cart.line_items, :as => :line_item %>
            <tr>
              <td id=total colspan="4" class="right">Сумма: <b><%= "#{@order_cart.total}" %></b> руб</td>
              <td rowspan="3">
                <%= link_to raw("<i class='glyphicon glyphicon-trash glyphicon glyphicon-white'></i>"),
                            @order_cart,
                            method: :delete,
                            confirm: 'Уверены?',
                            class: "btn btn-default btn-danger", title: 'Очистить корзину' %>
              </td>
            </tr>
            <% if signed_in? and not @discount==0 %>
                <tr>
                  <td colspan="4" class="right">
                    Сумма + скидка в
                    <span id=discount><%= @discount %></span>%:
                    <b id=total-discount><%= @total_discount %></b> руб
                  </td>
                </tr>
            <% end %>
            <tr>
              <td colspan="4" class="right">Сумма
                <% if signed_in? and not @discount==0 %>
                    + скидка в <%= @discount %>%
                <% end %>
                + доставка:
                <b id=total-discount-delivery><%= @total_discount_delivery %></b> руб
              </td>
            </tr>
            </tbody>
            <caption><h3>Товары в корзине</h3></caption>
          </table>
        </div>
        <div style="display:none;">
          <%= f.submit :id => 'submit' %>
        </div>
    <% end %>


    <%= form_for @order, :html => {:class => 'form-horizontal'} do |f| %>
        <%= f.error_messages %>
        <fieldset id=order-form>
          <legend>Пожалуйста, введите ваши данные:</legend>
          <div class="form-group">
            <%= f.label :name, 'ФИО', :class => 'control-label', :for => 'order_name' %>

            <div class="controls">
              <%= f.text_field :name, :size => 40, :class => 'input-xlarge', required: 'required', :placeholder => "Как к вам обращаться?" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :phone, 'Телефон', :class => 'control-label', :for => 'order_phone' %>

            <div class="controls">
              <%= f.text_field :phone, :size => 40, :class => 'input-xlarge', required: 'required', :placeholder => "9021234567" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :address, 'Адрес для доставки', :class => 'control-label', :for => 'order_address' %>

            <div class="controls">
              <%= f.text_area :address, :rows => 2, :class => 'input-xlarge', required: 'required', :placeholder => "Улица, дом, квартира" %>
            </div>
          </div>
          <% unless user_signed_in? %>
              <div class="form-group">
                <%= f.label :email, "Email", :class => 'control-label', :for => 'order_email' %>

                <div class="controls">
                  <%= f.email_field :email, :size => 40, :class => 'input-xlarge' %>
                  <p class="help-block">Если хотите следить за состоянием заказа</p>
                </div>
              </div>
          <% end %>
          <div class="form-group">
            <%= f.label :pay_type, 'Метод оплаты', :class => 'control-label', :for => 'order_pay_type' %>
            <div class="controls">
              <%= f.select :pay_type, Order::PAYMENT_TYPES, :class => 'input-xlarge' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :comment, 'Комментарий к заказу', :class => 'control-label', :for => 'order_comment' %>
            <div class="controls">
              <%= f.text_area :comment, :rows => 3, :class => 'input-xlarge' %>
            </div>
          </div>
          <div class='form-actions'>
            <%= f.submit 'Отправить заказ менеджеру', class: 'btn btn-default btn-primary' %>
          </div>
        </fieldset>
    <% end %>
<% end %>

