<tr>
  <td class="title"><%= link_to f.object.item.title, item_url(f.object.item) %>
    <%= raw("<i class='glyphicon glyphicon-plane' title='Под заказ'></i>") unless f.object.item.in_stock %></td>
  <td class="price"><b><%= f.object.price %></b> руб</td>
  <td class="quantity">
    <%= f.number_field :quantity, :in => 1..100, class: 'col-md-1' %>
  </td>
  <td class='cost right'><b><%= f.object.total %></b> руб</td>
  <td>
    <%= link_to raw("<i class='glyphicon glyphicon-trash glyphicon glyphicon-white'></i>"), f.object, remote: true, method: :delete, :class => 'btn btn-default btn-danger btn-xs delete', title: 'Удалить товар из корзины' %>
  </td>
</tr>
