<% if line_item == @current_item %>
    <tr id="current_item">
<% else %>
    <tr>
<% end %>

<td class="title"><%= link_to line_item.item.title, item_url(line_item.item) %>
  <%= raw("<i class='glyphicon glyphicon-plane' title='Под заказ'></i>") unless line_item.item.in_stock %></td>
<td class="price right" title='Цена'><%= "#{line_item.price}р" %></td>
<td class="quantity">
  <span title='Количество' class="badge-info badge"><%= line_item.quantity %></span>
</td>
<td class="sum right"><%= "#{line_item.total}р" %></td>
</tr>
