<table class="table auto table-condensed">
  <%= render :partial => 'line_items/profile_line_item', :collection => @order.line_items, :as => 'line_item' %>
  <tr>
    <td colspan="3" class="right">Итого:</td>
    <td><%= "#{@order.total}р" %></td>
  </tr>
  <caption><h4>Товары</h4></caption>
</table>
<table class="table auto table-condensed">
  <tr>
    <td class="right">Время заказа</td>
    <td>
      <% if @order.created_at.today? %>
          <%= @order.created_at.stamp("Сегодня") %>
          <i class='glyphicon glyphicon-time'></i>
          <%= @order.created_at.stamp("%H:%M") %>
      <% else %>
          <%= @order.created_at.stamp("%d.%m.%y") %>
          <i class='glyphicon glyphicon-time'></i>
          <%= @order.created_at.stamp("%H:%M") %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td class="right">Статус заказа</td>
    <td><span class="label
                    <% case @order.status %>
                    <% when 1 %>
                     label-warning
                    <% when 2 %>
                     label-success
                    <% when 3 %>
                     label-important
                    <% end %>
                    "><%= @statuses[@order.status] %></td>
  </tr>
  <caption><h4>Данные о заказе</h4></caption>
</table>
<table class="table auto table-condensed">
  <caption><h4>Указанные данные</h4></caption>
  <tr>
    <td class="right">ФИО</td>
    <td>
      <%= @order.name %>
    </td>
  </tr>
  <tr>
    <td class="right">Адрес</td>
    <td>
      <%= @order.address %>
    </td>
  </tr>
  <tr>
    <% unless @order.email.blank? %>
        <td class="right">Email</td>
        <td>
          <%= @order.email %>
        </td>
    <% end %>
  </tr>
  <tr>
    <td class="right">Телефон</td>
    <td>
      <%= @order.phone %>
    </td>
  </tr>
  <tr>
    <td class="right">Оплата</td>
    <td>
      <%= @pay_types[@order.pay_type] %>
    </td>
  </tr>
  <tr>
    <% unless @group.blank? %>
        <td class="right">Группа</td>
        <td>
          <%= link_to(@group.title, @group) %>
        </td>
    <% end %>
  </tr>
</table>
