<% content_for :sidebar do %>
    <%= render 'layouts/sections' %>
    <%= render 'layouts/search_form' %>
<% end %>

<div id="items">
  <div class="jumbotron">
    <div class="container">
      <h1>

        Акции!

      </h1>

      <p>

        Участвуйтесь в акциях, снижающих цену.

      </p>

      <p>

        <a class="btn btn-primary btn-lg" role="button"> К акциям </a>

      </p>
    </div>
  </div>
  <h2 id="title"><%= title %></h2>
  <%= render 'items/items' %>
</div>