<% unless @items.empty? %>
    <div id="items">
        <%= render 'items/items' %>
    </div>
<% else %>
    <h4><%= "К сожалению, нет товаров, которые соответствуют параметрам поиска. Попробуйте еще раз с другими параметрами" %></h4>
<% end %>

