<% @title='Настройки личного кабинетя пользователя' %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put}) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :name, 'Имя' %>
      <br/>
      <%= f.email_field :name %></div>

    <div><%= f.label :email %>
      <br/>
      <%= f.email_field :email %></div>

    <div><%= f.label :password, 'Новый пароль' %> <i>(оставьте поле пустым, если не хотите менять)</i><br/>
      <%= f.password_field :password %></div>

    <div><%= f.label :current_password, 'Текущий пароль' %> <i>(нужен текущий пароль, чтобы принять изменения)</i><br/>
      <%= f.password_field :current_password %></div>

    <div><%= f.submit "Обновить" %></div>
<% end %>

<h3>Удалить мой аккаунт</h3>

<p>Несчастны? <%= link_to "Удалить мой аккаунт", registration_path(resource_name), :confirm => "Вы уверены?", :method => :delete %>
  .</p>

<%= link_to "Назад", :back %>
