<% @title="Регистрация" %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>

    <div class="field">
      <%= f.label :name, 'Имя' %>
      <br/>
      <%= f.text_field :name %>
    </div>

    <div><%= f.label :email %>
      <br/>
      <%= f.email_field :email %></div>

    <div><%= f.label :password, 'Пароль' %>
      <br/>
      <%= f.password_field :password, :size => 29 %>
      <%= text_field_tag 'show_password', nil, :size => 29 %></div>
    <div> <%= check_box_tag 'show' %> <%= "Показать пароль?" %></div>

    <div><%= f.submit "Зарегистрироваться" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
