<table class='table table-condensed table-striped'>
  <thead>
  <th colspan="3">
    <div class="btn btn-group row">
      <%= link_to raw("<i class='glyphicon glyphicon-shopping-cart glyphicon glyphicon-white'></i> Оформить"),
                  new_order_path,
                  method: :get,
                  class: "btn btn-default btn-primary btn-xs span8" %>
      <%= link_to raw("<i class='glyphicon glyphicon-trash glyphicon glyphicon-white'></i>"),
                  cart,
                  remote: true,
                  method: :delete,
                  confirm: 'Уверены?',
                  class: "btn btn-default btn-warning btn-xs", title: 'Очистить корзину' %>
    </div>
  </th>
  </thead>
  <tbody>
  <% group=current_user.try(:group)
     if group %>
      <tr>
        <td colspan="4"><%= "Со скидкой в #{group.discount}%" %></td>
        <td class="right"><%= "#{cart.total*(100-group.discount)/100}р" %></td>
      </tr>
  <% end %>
  <tr id="total-tr">
    <td colspan="4">Всего</td>
    <td class="right"><%= "#{cart.total}р" %></td>
  </tr>
  <%= render(cart.line_items) %>
  </tbody>
</table>



