<script>
    $(function () {
        $('.kind_<%=@parameter.kind %>').show();
        $('#parameter_kind').change(function () {
            $('.kind_0, .kind_1, .kind_2').hide();
            var val = $(this).val();
            $('.kind_' + val).show();
        });
        var loaded_ids = [];
        $('#section_ids_').change(function () {
            $('.amounts').hide();
            var new_ids = [];
            var ids = $(this).val();
            $.each(ids, function (index, value) {
                var section=$('.section_' + value);
                if (section.length) {
                    loaded_ids.push(value);
                }else{
                    new_ids.push(value);
                }
                section.show();
            });
            $.get('/admin/parameters/items_list', {'section_ids[]':new_ids}, function (data) {
                $('#point').after(data);
                $('#parameter_kind').change();
            });
        });
    });
</script>

<%= form_for [:admin, @parameter], :html => {:class => 'form-horizontal'} do |pf| %>
    <%= render 'shared/error_messages', :object => pf.object %>

    <div class="form-group">
      <label class="control-label" for="parameter_title">Название</label>

      <div class="controls">
        <%= pf.text_field :title, class: 'span7' %>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="parameter_filterable">Использовать в фильтре?</label>

      <div class="controls">
        <%= pf.check_box :filterable %>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="section_ids_">В категориях</label>

      <div class="controls">
        <%= select_tag("section_ids[]", options_for_select(@sections.collect { |sect| [sect.title, sect.id] }, pf.object.sections.collect { |sect| sect.id }), {:multiple => true, :size => 6}) %>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="parameter_kind">Тип значения</label>

      <div class="controls">
        <%= pf.select :kind, Section::TYPES %>
      </div>
    </div>
    <div class="form-group kind_1" style='display:none;'>
      <label class="control-label" for="parameter_measure">Единица измерения</label>

      <div class="controls">
        <%= pf.text_field :measure %>
      </div>
    </div>

    <div class="form-group kind_0 kind_1" style='display:none;'>
      <label class="control-label" for="parameter_hint">Пример значения</label>

      <div class="controls">
        <%= pf.text_field :hint %>
      </div>
    </div>


    <div class="form-group">
      <label class="control-label" for="section_ids_" id=point>Имеющиеся значения</label>
      <% @selected_sections.try(:each) do |s| %>
          <% s.items.each do |item| %>
              <% am=(pf.object.amounts&item.amounts)[0] %>
              <div class="controls section_<%= s.id %> amounts">
                <%= text_field_tag "amounts[str][#{item.id}]", am.try(:str), class: 'kind_0', style: 'display:none;' %>
                <%= number_field_tag "amounts[num][#{item.id}]", am.try(:num), class: 'kind_1', style: 'display:none;' %>
                <%= hidden_field_tag "amounts[logic][#{item.id}]", false %>
                <%= check_box_tag "amounts[logic][#{item.id}]", true, am.try(:logic), class: 'kind_2', style: 'display:none;' %>
                <span class="help-inline"><%= link_to item.title, edit_admin_item_path(item) %></span>
              </div>
          <% end %>
      <% end %>
    </div>
    <div class="form-actions">
      <%= pf.submit "Сохранить", id: 'submit', class: 'btn btn-default btn-primary' %>
    </div>
<% end %>