<%= content_tag_for :tr, parameter do %>

    <td class="handle"><i class="glyphicon glyphicon-move"></i></td>
    <td><%= link_to parameter.title, edit_admin_parameter_path(parameter) %></td>
    <% if parameter.filterable? %>
        <td><%= link_to raw("<i class='glyphicon glyphicon-filter'></i>"), trigger_admin_parameter_path(id: parameter, field: :filterable), remote: true, title: 'Используется в фильтре', class: "filterable btn btn-default btn-xs active" %></td>
    <% else %>
        <td><%= link_to raw("<i class='glyphicon glyphicon-filter'></i>"), trigger_admin_parameter_path(id: parameter, field: :filterable), remote: true, title: 'Не используется в фильтре', class: "filterable btn btn-default btn-xs" %></td>
    <% end %>
    <td><%= link_to raw("<i class='glyphicon glyphicon-trash glyphicon glyphicon-white'></i>"), admin_parameter_path(parameter), method: :delete, confirm: "Вы уверены?", title: "Удалить параметр", class: 'btn btn-default btn-xs btn btn-danger' %></td>
<% end %>


