<script>
    $(function () {
        $('#params').sortable({
            axis:'y',
            handle:'.handle',
            update:function () {
                $.post($(this).data('update-url'), $(this).sortable('serialize'));
            }
        });
    });
</script>
<% unless @sections.blank? %>
    <div>
      <%= link_to raw("<i class='glyphicon glyphicon-plus glyphicon glyphicon-white'></i>параметр"), new_admin_parameter_path, :class => 'btn btn-default btn-primary' %>
    </div>
    <div class="sections span3">
      <ul class="nav nav-pills nav-stacked">
        <%= filter_link_li 'Все категории', {:section => "clear"} %>
        <% @sections.each do |section| %>
            <% unless section.level==1 %>
                <%= filter_link_li section.title, {:section => section.id}, :style => "margin-left:#{(section.level*10-20)}px" %>
            <% end %>
        <% end %>
      </ul>
    </div>
<% end %>
<div id="parameters" >
  <table class="table auto table-condensed">
    <tbody id="params" data-update-url="<%= sort_admin_parameters_url %>">
    <%= render @parameters %>
    </tbody>
  </table>
  <%= paginate @parameters %>
</div>



