<% @selected_sections.try(:each) do |s| %>
    <% s.items.each do |item| %>
        <div class="controls section_<%= s.id%> amounts">
          <%= text_field_tag "amounts[str][#{item.id}]", nil, class: "kind_0", style: "display:none;" %>
          <%= number_field_tag "amounts[num][#{item.id}]", nil, class: "kind_1", style: "display:none;" %>
          <%= hidden_field_tag "amounts[logic][#{item.id}]", false %>
          <%= check_box_tag "amounts[logic][#{item.id}]", true, nil, class: "kind_2", style: "display:none;" %>
          <span class="help-inline"><%= link_to item.title, edit_admin_item_path(item) %></span>
        </div>
    <% end %>
<% end %>

