var link=$('#parameter_<%=@parameter.id %>').find('.filterable');
<% if @parameter.filterable? %>
link.addClass('active').attr('title', 'Используется в фильтре');
<% else %>
link.removeClass('active').attr('title', 'Не используется в фильтре');
<% end %>
