<% if current_page.first? %>
    <li class="first disabled">
      <span>
        <%= raw(t 'views.pagination.first') %>
      </span>
    </li>

<% else %>
    <li class="first"><%= link_to raw(t 'views.pagination.first'), url, :remote => remote %></li>
<% end %>
