<% if current_page.last? %>
    <li class="last disabled">
      <span>
        <%= raw(t 'views.pagination.last') %>
      </span>
    </li>

<% else %>
    <li class="last"><%= link_to raw(t 'views.pagination.last'), url, :remote => remote %></li>
<% end %>
