<% if current_page.last? %>
    <li class="next disabled">
      <span>
        <%= raw(t 'views.pagination.next') %>
      </span>
    </li>

<% else %>
    <li class="next"><%= link_to raw(t 'views.pagination.next'), url, :rel => 'next', :remote => remote %></li>
<% end %>
