<% if current_page.first? %>
    <li class="prev disabled">
      <span>
        <%= raw(t 'views.pagination.previous') %>
      </span>
    </li>

<% else %>
    <li class="prev"><%= link_to raw(t 'views.pagination.previous'), url, :rel => 'prev',:remote => remote %></li>
<% end %>
