<% content_for :single_column do %>
    <script>
        set_time_zone_offset();
    </script>
    <!--
<p><strong>Войдите </strong>через один из этих сервисов:</p>
<%= render :partial => "devise/menu/authservices" %>
    -->
    <div class="row">
      <div class="span3" style="color: transparent">.</div>
      <div class="span6">
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
            <legend>Вход</legend>
            <div class="form-group">
              <label class="control-label" for="email">Email</label>

              <div class="controls">
                <%= f.email_field :email %>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="passworf">Пароль</label>

              <div class="controls">
                <%= f.password_field :password %>
              </div>
            </div>
            <% if devise_mapping.rememberable? -%>
                <label class="checkbox">
                  <%= f.check_box :remember_me %> Запомнить меня
                </label>
            <% end -%>
            <div class="form-actions">
              <%= f.submit "Войти", class: 'btn btn-default btn-primary' %>
              <%= render :partial => "devise/shared/links" %>
            </div>
        <% end %>
      </div>
    </div>
<% end %>
