<% @title="Вход" %>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div><%= f.label :email %>
      <br/>
      <%= f.email_field :email %></div>

    <div><%= f.label :password, 'Пароль' %>
      <br/>
      <%= f.password_field :password %></div>

    <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me %> <%= f.label :remember_me, 'запомнить меня' %></div>
    <% end -%>

    <div><%= f.submit "Войти" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>