<%= form_for [:admin, @setting] do |f| %>
    <% if @setting.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

          <ul>
            <% @setting.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      Название<br/>
      <%= f.text_field :option %>
    </div>
    <div class="field">
      Значение<br/>
      <%= f.text_field :value %>
    </div>
    <div class="actions">
      <%= f.submit 'Создать' %>
    </div>
<% end %>
