<%= form_for [:admin, @setting] do |f| %>
    <% if @setting.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

          <ul>
            <% @setting.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= @setting.option %>
    <%= f.text_field :value %>
    <%= f.submit 'Сохранить' %>
<% end %>
