<%= form_tag admin_settings_path, :method => :put, :class => 'form-horizontal col-md-12' do %>
    <fieldset>
      <% for setting in @settings %>
          <div class="form-group">
            <label class="control-label" for="settings_<%= setting.id %>">
              <%= setting.title %>
            </label>
            <div class="controls">
              <%= text_field_tag "settings[#{setting.id}]", setting.value, class: 'col-md-2' %>
              <span class="help-inline"><%= @value_types[setting.value_type] %></span>
            </div>
          </div>
      <% end %>
      <div class="form-actions">
        <%= submit_tag "Сохранить", class: 'btn btn-default btn-primary' %>
      </div>
    </fieldset>
<% end %>




