<div class="thumbnail item">

  <div class='img'>
    <%= link_to item do %>
        <% image_tag(item.main_image.photo.url(:medium)) %>
    <% end %>
  </div>
  <div class="info">
    <div class='title'>
      <%= link_to item.title, item %>
    </div>
    <div class="bottom">
      <div class="price"><%= "#{item.price}р." %></div>
      <% if item.in_stock %>
          <%= link_to raw("<i class='glyphicon glyphicon-shopping-cart'></i> В корзину"), line_items_path(:item_id => item),
                      :remote => true, :method => :post, :class => "btn btn-default add-to-cart" %>
      <% else %>
          <%= link_to raw("<i class='glyphicon glyphicon-shopping-cart glyphicon glyphicon-white'></i> Заказать"), line_items_path(:item_id => item),
                      :remote => true, :method => :post, :class => "btn btn-default btn-warning add-to-cart" %>
      <% end %>
    </div>
  </div>
</div>
