<div id="sort" style="margin-bottom: 10px">
  Сортировать:
  <%= sortable 'title', 'По названию' %>
  <%= sortable 'price', 'По цене' %>
  Товаров на странице:
  <%= per_page 10 %>
  <%= per_page 25 %>
  <%= per_page 50 %>
  <%= per_page 1000, 'Все' %>
</div>
<div>
  <%= paginate @items, remote: true %>
</div>
<div>
  <% unless @items.empty? %>
      <%= render @items %>
  <% end %>
</div>
