<td class="item invisible">

  <div class='img'>
    <%= link_to image_tag(item.image.url(:medium), :class => 'shadow'), item %>
  </div>
  <div class="info">
    <div class='title'>
      <%= link_to item.title, item %>
    </div>
    <div class="bottom">
      <div class="price"><%= "#{item.price}р." %></div>
      <% if item.in_stock %>
          <%= link_to raw("<i class='glyphicon glyphicon-shopping-cart glyphicon glyphicon-white'></i> В корзину"), line_items_path(:item_id => item),
                      :remote => true, :class => "btn btn-default btn-primary" %>
      <% else %>
          <%= link_to raw("<i class='glyphicon glyphicon-shopping-cart glyphicon glyphicon-white'></i> Заказать"), line_items_path(:item_id => item),
                      :remote => true, :class => "btn btn-default btn-warning" %>
      <% end %>
    </div>
  </div>
</td>
