<%= content_tag_for :tr, item do %>
    <td><%= link_to item.title, item %> <i title='Под заказ' class='glyphicon glyphicon-plane'></i></td>
    <td class="right"><%= item.price %>р.</td>
<% end %>