<script>
    $(function () {
        var links = ['<%= @item.main_image.photo.url %>'
            <% for image in @item.minor_images %>
            ,'<%= image.photo.url %>'
            <% end %>];
        $('#starter').click(function () {
            $.fancybox(links,
                    {
                        openEffect:'none',
                        closeEffect:'none',

                        nextSpeed:250,

                        prevSpeed:250,
                        index:1
                    });
            return false;
        });
        $('#main-image').click(function () {
            $.fancybox(links, {
                openEffect:'none',
                closeEffect:'none',
                nextSpeed:250,

                prevSpeed:250
            });
            return false;
        });
    });
</script>
<div class='show-item'>
  <h2 id="title"><%= title %></h2>

  <div class='left'>
    <div class='img'>
      <%= link_to image_tag(@item.main_image.photo.url(:medium)), nil, id: 'main-image' %>
    </div>
    <% unless @item.minor_images.empty? %>
        <%= link_to 'Еще картинки', nil, id: 'starter' %>

    <% end %>
    <div class='price-button'>
      <div class="price"><%= "#{@item.price}р." %></div>
      <% if @item.in_stock %>
          <%= link_to raw("<i class='glyphicon glyphicon-shopping-cart glyphicon glyphicon-white'></i> В корзину"), line_items_path(:item_id => @item),
                      :remote => true, :method => :post, :class => "btn btn-default add-to-cart" %>
      <% else %>
          <%= link_to raw("<i class='glyphicon glyphicon-shopping-cart glyphicon glyphicon-white'></i> Заказать"), line_items_path(:item_id => @item),
                      :remote => true, :method => :post, :class => "btn btn-default btn-warning add-to-cart" %>
      <% end %>
    </div>

  </div>
  <div class='right'>
    <% if current_user.try(:admin?) %>
        <div class='btn btn-group'>
          <%= link_to raw("<i class='glyphicon glyphicon-pencil glyphicon glyphicon-white'></i> Редактировать"),
                      edit_admin_item_path(@item),
                      class: "btn btn-default btn-xs btn btn-info" %>
          <% unless @item.in_stock %>
              <%= link_to raw("<i class='glyphicon glyphicon-trash glyphicon glyphicon-white'></i>"),
                          admin_item_path(@item), method: :delete,
                          class: "btn btn-default btn-xs btn btn-danger" %>
          <% end %>
        </div>
    <% end %>
    <h4><%= "Описание:" %></h4>
    <%= sanitize(@item.description) %>
    <% section=@item.section %>
    <br/><br/>
    <table class="table table-condensed table-striped auto">
      <tbody>
      <% section.parameters.each do |param| %>
          <% amount=@item.amounts.find_by_parameter_id(param.id) %>
          <tr>
            <% if amount %>
                <td><%= "#{param.title}" %></td>
                <td>
                  <% case param.kind
                       when 0 %>
                      <%= amount.str %>
                  <% when 1 %>
                      <%= amount.num %><%= param.measure %>
                  <% when 2 %>
                      <%= amount.logic? ? 'Да' : 'Нет' %>
                  <% end %>
                </td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
      <caption>
        <h4>Параметры</h4>
      </caption>
    </table>
  </div>
</div>
