
div.jGrowl {
  margin-top: 50px !important;
  opacity: 1 !important;
}

div.jGrowl div.error {
  background-color: #ff4d44 !important;
  border: 1px solid #EED3D7 !important;
  color:white;
}

div.jGrowl div.warning {
  background-color: #fcdf7b !important;
  border: 1px solid #fee4a3 !important;
  color:black;

}

div.jGrowl div.info {
  color:black;
  background-color: #c9f4f3 !important;
  border: 1px solid #acede1 !important;
}

div.jGrowl div.success {
  color:black;
  background-color: #abe789 !important;
  border: 1px solid #aee274 !important;
}

div.jGrowl-close {
  font-size: 2em !important;
}
