<tr>
  <td>
    <%= link_to f.object.item.title, f.object.item %>
    <% unless f.object.item.in_stock %>
        <i class="glyphicon glyphicon-plane" title="Под заказ"></i>
    <% end %>
  </td>
  <td class="right"><b class="price"><%= f.object.price %></b>р</td>
  <td><%= f.number_field :quantity, :in => 1..100, style: 'width:30px;', class: 'quantity' %></td>
  <td class="right"><b class="cost"><%= "#{f.object.total}" %></b>р</td>
  <% unless [2, 3].include? @order.status %>
      <td class="center"><%= link_to raw("<i class='glyphicon glyphicon-trash glyphicon glyphicon-white'></i>"), admin_line_item_path(f.object), :remote => true, :method => :delete, :class => 'btn btn-default btn-danger btn-xs delete' %></td>
  <% end %>
</tr>