<% @title='Изменение пароля' %>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :put}) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div><%= f.label :password, "Новый пароль" %>
      <br/>
      <%= f.password_field :password %></div>

    <div><%= f.submit "Изменить мой пароль" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>