<% @title='Забыли пароль?' %>'
<h2>Забыли пароль?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post}) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :email %>
      <br/>
      <%= f.email_field :email %></div>

    <div><%= f.submit "Отправить письмо о восстановлении" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>