<%= form_for [:admin, @group], html: {class: 'form-horizontal'} do |f| %>
    <%= f.error_messages %>
    <fieldset>
      <div class="form-group">
        <label class="control-label" for="group_title">Название</label>

        <div class="controls">
          <%= f.text_field :title %>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="group_threshold">Порог суммы покупок</label>

        <div class="controls">
          <%= f.number_field :threshold, style: 'width:40px' %>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="group_threshold">Процент скидки</label>

        <div class="controls">
          <%= f.number_field :discount, in: 0..100, style: 'width:35px' %>%
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="group_wholesale">Для оптовиков?</label>

        <div class="controls">
          <%= f.check_box :wholesale %>
        </div>
      </div>
      <div class="form-actions">
        <%= f.submit 'Создать группу', class: 'btn btn-default btn-primary' %>
      </div>
    </fieldset>
<% end %>
