<tr>
  <td>
    <%= link_to group.title, admin_group_path(group) %>
  </td>
  <% if grouicon-p.wholesale? %>
      <td class="right"><%= group.threshold %>р.</td>
      <td class="right"><%= group.discount %>%</td>
      <td class="right" title="Заказов"><i class='glyphicon glyphicon-check'></i><%= group.count_orders %></td>
  <% else %>
      <td class="right"><%= group.threshold %>р.</td>
      <td class="right"><%= group.discount %>%</td>
      <td class="right" title="Клиентов"><i class='glyphicon glyphicon-user'></i><%= group.count_users %></td>
  <% end %>
  <td><%= link_to raw("<i class='glyphicon glyphicon-pencil glyphicon glyphicon-white'></i>"), edit_admin_group_path(group),title: 'Редактировать группу', :class => 'btn btn-default btn-warning btn-xs' %></td>
  <td><%= link_to raw("<i class='glyphicon glyphicon-trash glyphicon glyphicon-white'></i>"), admin_group_path(group),title: 'Удалить группу', confirm: 'Вы уверены, что группу нужно удалить?', :method => :delete, :class => 'btn btn-default btn-danger btn-xs' %></td>
</tr>

