<%= link_to  raw("<i class='glyphicon glyphicon-plus glyphicon glyphicon-white'></i>группа"), new_admin_group_path, :class => 'btn btn-default btn-primary add-button' %>
<div id="groups">
  <table class="table auto table-condensed">
    <thead>
    <th>Название</th>
    <th>Порог</th>
    <th>Скидка</th>
    <th colspan="3"></th>
    </thead>
    <tbody>
    <%= render @groups %>
    </tbody>
  </table>
</div>

