<table class="table auto table-condensed">
  <tbody>
  <% if @group.wholesale? %>
      <%= paginate @orders %>
      <%= render @orders %>
  <% else %>
      <%= paginate @users %>
      <%= render @users %>
  <% end %>
  </tbody>
</table>