@import "partials/common";
@import "partials/jquery.ui.resizable";

//#orders, #items, #sections, #groups, #parameters, #users {
//  padding-top: 10px;
//}

html,
body {

  padding-top:30px;
  height:auto !important;
}

.title {
  margin-bottom: 60px;
}


#filelist{
  margin-top:10px;
}
.img-title{
  overflow:hidden;
  a{
    float: right;
    margin-bottom: 5px;
  }
}
.img {
      img {
        width:140px;
      }
    }

.cell{
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  overflow:hidden;
  height:200px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin-bottom:10px;
  padding:5px;
}

#new_page .cell{
    border:none;
    overflow:hidden;
    height:auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-bottom:10px;
    padding:5px;
}

#item-images{
  .cell{
    background: #e6e6e6;
  }
}

.add-button{
  margin-bottom:10px;
}

tr.disabled{
  background: #e6e6e6;
}

.per_page{
  padding:5px;
}
.current.per_page{
  background: #e6e6e6;
}