/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/
@import "common";
//@import "partials/fancybox";
//@import "partials/fancybox-buttons";

html,
body {
  .container.main{
    margin-top:70px;
  }

  height: auto !important;
}

#items {
  $img-height: 150px;
  $title-height: 60px;
  $item-height: $img-height+$title-height+33px;
  .item {
    $margin: 3px;
    float: left;
    width: 180px;
    height: $item-height;
    overflow: hidden;
    margin-bottom: $margin;
    margin-right: $margin;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

  }
  .img {
    overflow: hidden;
    float: left;
    width: 180px;
    text-align: center;
    margin-bottom: 5px;
    margin-right: 5px;
    img {
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
      height: $img-height;
    }
  }
  .info {
    float: left;
  }
  .title {
    text-align: center;
    vertical-align: center;
    height: $title-height;
  }
  .bottom {
    text-align: center;
  }
  .price {
    float: left;
    padding-left: 5px;
    font-size: 16pt;
    font-weight: bold;
  }
}

.show-item {
  padding: 10px;
  .left {
    width: 125px;
    float: left;
  }

  .img {
    float: left;
    width: 120px;
    margin-bottom: 10px;
    margin-right: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border: 6px solid #fff;

    img {
      width: 100%;
    }
  }

  .price-button {
    text-align: center;
  }

  .price {
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .right {
    margin-left: 140px;
  }

  .btn-group {
    &:before, &:after {
      clear: none;
      width: 100%;
    }
  }

}

.authentications {
  margin-bottom: 30px;
}

.authentication {
  width: 130px;
  float: left;
  background-color: #EEE;
  border: solid 1px #999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin-right: 10px;
}

.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333;
  padding: 2px 4px;
  font-size: 10px;
}

.authentication .remove:hover {
  color: #CCC;
  background-color: #777;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.authentication img {
  float: left;
  margin-right: 10px;
}

.authentication .provider {
  font-weight: bold;
}

.authentication .uid {
  color: #666;
  font-size: 11px;
}

.auth_provider img {
  display: block;
}

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.wide_block, .providers {
  float: left;
  width: 100%;
}

//.message {
//  margin-left: 5px;
//  color: red;
//}

div.field_with_errors div.ui-effects-wrapper {
  display: inline !important;
}

.orders {
  td {
    text-align: right;
  }
}

.dl-horizontal dt {
  width: 30%;
  clear: right;
  margin-right: 5px;
  padding-top: 2px;
  margin-bottom: -2px;
}

footer.footer {
  margin-top: 30px;
  padding: 0 0 36px;
  border-top: 1px solid #E5E5E5;
}

.current.asc:after {
  content: "▲"
}

.current.desc:after {
  content: "▼"
}

.per_page {
  padding: 5px;
}

.current.per_page {
  background: #e6e6e6;
}

.shopBtn {
  bottom: 45%;
  right: 0;
  z-index: 100;
  display: block;
  position: fixed;
  width: 64px;
  height: 34px;
  background: url(shop.png) no-repeat;
  text-align: center;
  padding-top: 30px;
  &:hover {
    text-decoration: none;
  }
  .label-info {
    background: none;
  }
  span {
    font-size: 20px;
    margin-top: 20px;
  }
}
