<div class="span2 cell"
  <% if image.main? %>
        style="border-color:green;"
        <% else %>
        style="border-color:transparent;"
        <% end %>
>
  <div class="img-title">
    <% image.photo_file_name %> <%= image.photo_file_size/1024 %> кБ
    <%= link_to 'X', admin_image_path(image), method: :delete, remote: true, id: image.id, class: "badge badge-inverse delete" %>
    <%= link_to '↵', "#", class: "badge badge-inverse insert" %>
  </div>
  <div class="img">
    <%= image_tag image.photo.url %>
  </div>
</div>