<p>Добро пожаловать, <%= @resource.email %>!</p>

<p>Подтвердите регистрацию, перейдя по ссылке ниже</p>

<p><%= link_to 'Подтвердить аккаунт', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
