<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Кто -то запросил ссылку на восстановление пароля, и вы можете сделать это, перейдя по ссылке ниже.</p>

<p><%= link_to 'Поменять пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Если вы не запрашивали такую ссылку, просто проигнорируйте это письмо.</p>
<p>Ваш пароль не будет смене, пока вы не перейдете по ссылке выше и не создадите новый пароль.</p>
