<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Ваш аккаунт был заблокирован по причине большого количества безуспешных попыток входа.</p>

<p>Перейдите по этой ссылке, чтобы разблокировать ваш аккаунт:</p>

<p><%= link_to 'Разблокировать аккаунт', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
