<%= content_tag_for :tr, user do %>
  <td>
    <%= link_to user.email, admin_user_path(user) %>
  </td>
  <td class="right">
    <%= user.spent.to_i %>р.
  </td>
  <td>
    <% if user.enabled? %>
        <%= link_to raw("<i class='glyphicon glyphicon-off glyphicon glyphicon-white'></i>"), trigger_admin_user_path(:id => user, :field => :enabled), title: 'Деятельность разрешена', remote: true,:class => "active enabled btn btn-default btn-xs btn btn-warning" %>
    <% else %>
        <%= link_to raw("<i class='glyphicon glyphicon-off glyphicon glyphicon-white'></i>"), trigger_admin_user_path(:id => user, :field => :enabled), title: 'Забанен', remote: true, :class => "enabled btn btn-default btn-xs btn btn-warning" %>
    <% end %>
  </td>
  <td>
    <%= link_to raw("<i class='glyphicon glyphicon-trash glyphicon glyphicon-white'></i>"), admin_user_path(user), :method => :delete, :confirm => "Подтвердите удаление клиента #{user.last_order.try(:name)}.", :title => "Удалить пользователя", :class => "btn btn-default btn-xs btn btn-danger" %>
  </td>
<% end %>