<% unless @groups.blank? %>
    <div class="groups span3">
      <ul class="nav nav-pills nav-stacked">
        <%= filter_link_li 'Все клиенты', {:group => "clear"} %>
        <% @groups.each do |group| %>
            <%= filter_link_li group.title, {:group => group.id} %>
        <% end %>
      </ul>
    </div>
<% end %>

<div id="users" class="span8">
  <% if @users.blank? %>
      <h2>Нет клиентов в этой группе</h2>
  <% else %>
      <%= paginate @users %>
      <table class="table auto table-condensed">
        <thead>
        <th>email</th>
        <th>потрачено</th>
        <th colspan=2></th>
        </thead>
        <tbody>
        <%= render @users %>
        </tbody>
      </table>
  <% end %>
</div>



