<% if @orders.blank? %>
    <h4><%= "Клиент пока ничего не заказал" %></h4>
<% else %>
    <h4>Заказы этого клиента:</h4>
    <table class="auto table table-bordered table-condensed">
      <tr>
        <th>Дата и время заказа</th>
        <th>Товаров</th>
        <th>Сумма заказа</th>
        <th>Статус</th>
      </tr>
      <% @orders.each do |order| %>
          <tr>
            <td><%= link_to order.created_at.stamp("%H:%M %d.%m"), edit_admin_order_path(order) %></td>
            <td><%= order.quantity %></td>
            <td><%= "#{order.total} руб." %></td>
            <td style="text-align: center;" class="last"><span class="label
                                      <% case order.status %>
                                      <% when 1 %>
                                       label-warning
                                      <% when 2 %>
                                       label-success
                                      <% when 3 %>
                                       label-important
                                      <% end %>
                                      "><%= @statuses[order.status] %></td>
          </tr>
      <% end %>
    </table>
<% end %>
