var link=$('#user_<%=@user.id %>').find('.enabled');
<% if @user.enabled? %>
link.addClass('active').attr('title','Деятельность разрешена');
<% else %>
link.removeClass('active').attr('title','Забанен');
<% end %>
