<%= content_tag_for :tr, line_item do %>

    <td colspan="2" class="title">
      <%= link_to line_item.item.title, item_url(line_item.item) %>
      <%= raw("<i class='glyphicon glyphicon-plane' title='Под заказ'></i>") unless line_item.item.in_stock %>
    </td>
    <td style="padding:0;">
      <span class="badge badge-info" title='Количество можно изменить в корзине'><%= line_item.quantity %></span>
    </td>
    <td style="padding:0;">
      <%= link_to 'x', line_item, :remote => true, :method => :delete, :class => 'badge delete', title: 'Удалить товар из корзины'%>
    </td>
    <td class="sum right"><%= "#{line_item.total}р" %></td>
<% end %>
