$('#cart').html('<%= escape_javascript(render @cart.reload)%>');
$('#line_item_<%= @line_item.id%> span')
        .css('opacity', '0.25')
        .animate({'opacity':'1'}, 500);

$('#quantity-badge').html(<%= @quantity %>);

if ($('#cart-li').hasClass('active')) {
    $('#cart').slideDown({
        duration:500,
        easing:'linear'
    });
} else {
    if (!($('.active').length)) {
        $('#cart-li a').click();
        $('#cart').slideDown({
            duration:500,
            easing:'linear'
        });
    } else {
        $('#cart').show();
    }
}
$('#cart-li a').click();
$('#cart-li').slideDown(500, 'linear');
