//$('#out').load('/orders/new #in');
$('#quantity-badge, #carttrigger span').html(<%= @quantity %>);

<% if @quantity<1 %>

$('#cart-li').slideUp(500);
$('#cart').slideUp(500,function () {
    $('#filters-li a').click();
});
$('#carttrigger span').hide();
<% end %>
