<br>   @amounts  <br>
<%= @item.amounts %><br>

<br>       @section     <br>
<%#=        @section      %>


<br>     @parameters:<br>
<%#=       @parameters      %>

<br>       @item.price<br>
<%#=       @item.price    %>

<br> @parameters<br>
<%#= @parameters.each do |param|  %>
<%#="#{param.id}: "+param.amounts %>
<%# end %>

