<div class="navbar-inner">
  <div class="container">
    <%= link_to 'Язычник', root_path, class: 'navbar-brand' %>
    <ul class="nav">
      <li><%= link_to "Главная", '/admin', :id => "first" %></li>
      <li class="dropdown" id="pages-dd">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#pages-dd">
                Страницы
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to raw("<i class='glyphicon glyphicon-plus'></i>страница"), new_admin_page_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Все страницы", admin_pages_path %></li>
              </ul>
            </li>
      <li class="dropdown" id="orders-dd">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#orders-dd">
          Заказы
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to raw("<i class='glyphicon glyphicon-plus'></i>заказ"), new_admin_order_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Все заказы", admin_orders_path %>
          <li><%= link_to "Новые", admin_orders_path(:status => 0) %></li>
          <li><%= link_to "Принятые", admin_orders_path(:status => 1) %></li>
          <li><%= link_to "Выполненные", admin_orders_path(:status => 2) %></li>
          <li><%= link_to "Удаленные", admin_orders_path(:status => 3) %></li>
        </ul>
      </li>
      <li class="dropdown" id="items-dd">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#items-dd">
          Товары
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to raw("<i class='glyphicon glyphicon-plus'></i>товар"), new_admin_item_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Все товары", admin_items_path %></li>
          <li><%= link_to "На витрине", admin_items_path(:enabled => true) %></li>
          <li><%= link_to "Архивные", admin_items_path(:enabled => false) %></li>
          <li class="divider"></li>
          <% @sections.each do |section| %>
              <% unless section.level==1 %>
                  <li><%= link_to section.title, admin_items_path(:section => section.id), :style => "padding-left:#{(section.level*10-10)}px" %></li>
              <% end %>
          <% end %>
        </ul>
      </li>
      <li class="dropdown" id="sections-dd">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#sections-dd">
          Категории
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to raw("<i class='glyphicon glyphicon-plus'></i>категория"), new_admin_section_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Все категории", admin_sections_path %></li>
          <% @sections.each do |section| %>
              <% unless section.level==1 %>
                  <li><%= link_to section.title, [:admin, section], :style => "margin-left:#{(section.level*10-10)}px" %></li>
              <% end %>
          <% end %>
        </ul>
      </li>
      <li class="dropdown" id="parameters-dd">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#parameters-dd">
          Параметры
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to raw("<i class='glyphicon glyphicon-plus'></i>параметр"), new_admin_parameter_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Все параметры", admin_parameters_path %></li>
        </ul>
      </li>
      <li class="dropdown" id="users-dd">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#users-dd">
          Клиенты
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "Клиенты", admin_users_path %></li>
          <li><%= link_to "Группы", admin_groups_path %></li>
        </ul>
      </li>
      <li><%= link_to raw("<i class='glyphicon glyphicon-wrench glyphicon glyphicon-white'></i>Настройки"), admin_settings_path %></li>
    </ul>
    <ul class="nav pull-right">
      <li><%= link_to('Выйти', destroy_user_session_path, :method => :delete) %></li>
    </ul>
  </div>
</div>