<div class="modal fade" id="cartmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Корзина</h3>
      </div>
      <div class="modal-body">
        <%= render @cart if @cart %>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-default btn-primary">Оформить заказ</a>
      </div>
    </div>
  </div>
</div>