<script>
    $(function () {
        $('#cart').on('click', '.delete', function () {
            var tr = $(this).closest('tr');
            tr.children('td')
                    .animate({ padding:0 })
                    .wrapInner('<div />')
                    .children()
                    .slideUp(function () {
                        tr.remove();
                    });
        });
    });
</script>
<div id="cart_box" class="tab-pane
<% unless @cart.line_items.empty? %>
 active
<% end %>
">
  <% unless @cart.nil? %>
      <%= hidden_div_if(@cart.line_items.empty?, :id => "cart") do %>
          <%= render @cart %>
      <% end %>
  <% end %>
</div>