<div class="nav">
  <ul>
    <% if current_user.try(:admin?) %>
        <ul>
          <li><%= link_to "Заказы", orders_path %></li>
          <li><%= link_to "Товары", items_path %></li>
          <li><%= link_to "Категории", sections_path %></li>
          <li><%= link_to "Параметры", parameters_path %></li>
          <li><%= link_to "Значения", amounts_path %></li>
          <li><%= link_to "Пользователи", users_path %></li>
          <li><%#= link_to "Настройки", 'settings_path' %></li>
        </ul>
    <% else %>
        <li><%= link_to "О нас", 'about_path' %></li>
        <li><%= link_to "Контакты", 'contact_path' %></li>
        <li><a href="http://news.railstutorial.org/">Новости</a></li>
        <li><a href="http://www.railstutorial.org/">Rails Tutorial</a></li>
    <% end %>
  </ul>
</div>
