<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical'}) do |f| %>
    <div>
      <%= f.email_field :email, placeholder: 'Email' %>
    </div>
    <div>
      <%= f.password_field :password, placeholder: 'Пароль' %>
    </div>

    <% if devise_mapping.rememberable? -%>
        <label class="checkbox">
          <%= f.check_box :remember_me %> запомнить меня
        </label>
    <% end -%>

    <table class="table">
      <tr>
        <td>
          <%= f.submit "Войти", class: 'btn btn-default btn-primary' %>
        </td>
        <td>
          <%= link_to "Забыли пароль?", new_password_path(resource_name) %>
        </td>
      </tr>
    </table>
<% end -%>
