<nav class="navbar infobar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">

        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>

      </button>

      <%= link_to 'Язычник', root_path, class: 'navbar-brand' %>
    </div>
    <div class="navbar-collapse collapse">

      <ul class="nav navbar-nav">
        <% @pages.try(:each) do |page| %>
            <li><%= link_to page.title, "/#{page.uri}" %></li>
        <% end %>
        <li><%= link_to "#", id: 'cartTrigger', 'data-toggle'=> 'modal',  'data-target'=> '#cartmodal' do %>
              <i class='glyphicon glyphicon-shopping-cart glyphicon-white'></i>
              Корзина
          <% end %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!--<li><%= link_to raw("<i class='glyphicon-shopping-cart glyphicon glyphicon-white'></i>Корзина"), "#", id: 'cartpopup' %></li> -->
        <% if current_user.try(:admin?) %>
            <li><%= link_to "Админ", '/admin' %></li>
        <% end %>
        <% if user_signed_in? %>
            <li class="dropdown" id="profile">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#profile">
                Профиль
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Ваши заказы", current_user %></li>
                <li><%= link_to('Настройки профиля', edit_user_registration_path) %></li>
              </ul>
            </li>
            <li><%= link_to('Выйти', destroy_user_session_path, :method => :delete) %></li>
        <% else %>
            <li><%= link_to 'Войти', "#", id: 'login' %></li>
            <li><%= link_to 'Регистрация', new_registration_path(resource_name) %></li>
        <% end %>
      </ul>
      <!--
      <div id="search-form">
        <%#= render 'layouts/search_form' %>
      </div>
      -->
    </div>
  </div>
</nav>
