<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Поиск</h3>
  </div>
  <div class="panel-body">
    <%= form_tag '/search', method: :get, class: "navbar-search pull-right" do %>
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
        <%= text_field_tag :search, params[:search], class: 'search-query', placeholder: 'Можно поискать...' %>
        <%#= submit_tag 'Найти' %>
    <% end %>
  </div>
</div>

