<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Категории
    </h3>
  </div>
  <div class="panel-body">
    <div id="sections">
      <% if @sections %>
          <ul class="nav nav-pills nav-stacked">
            <%= render @sections %>
          </ul>
      <% end %>
      <br/>
    </div>
  </div>
</div>
