<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'admin', :media => 'screen, projection' %>
  <%= javascript_include_tag "admin" %>

</head>
<body>
<div class="container">
  <div class="navbar navbar-fixed-top">
    <%= render 'layouts/admin_navbar' %>
  </div>
  <%= render partial: 'layouts/flash', locals: { flash: flash} %>
  <div id="title" class="col-md-12">
    <h1><%= title %></h1>
  </div>
  <%= content_for?(:paginate) ? yield(:paginate) : nil %>
  <% if content_for?(:main) %>
      <%= yield(:main) %>
  <% else %>
      <%= yield %>
  <% end %>
</div>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
