<!doctype html>
<html>
<head>
  <title><%= meta_title %></title>
  <%= csrf_meta_tag %>
  <meta name="description" content="<%= meta_description %>">
  <meta name="keywords" content="<%= meta_keywords %>">
  <%= stylesheet_link_tag 'application', media: 'screen, projection' %>
  <%= javascript_include_tag "application" %>

  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <script>
      $(function () {
          $('#login').popover({
              placement:'bottom',
              trigger:'manual',
              content:'<%= escape_javascript( render "layouts/login") %>',
              title:'Вход <a class="close">×</a>'
          });
          $('#cartpopup').popover({
              placement:'bottom',
              trigger:'manual',
              content:function () {
                  return $('#cart_box').html();
              },
              title:'Корзина <a class="close">×</a>'
          });
      });
  </script>
</head>
<body>
<%= render partial: 'layouts/flash', locals: {flash: flash} %>
<div class="container">
  <%= render 'layouts/navbar' %>
  <%= render 'layouts/cartmodal' %>
  <% if content_for?(:single_column) %>
      <%= yield :single_column %>
  <% else %>
      <div class="row">
        <div class="span3">
          <%= render 'layouts/sections' %>
          <ul class="nav nav-tabs" id="left-nav">
            <% if @cart.line_items.empty? %>
                <li id="cart-li" style="display:none;">
            <% else %>
                <li id="cart-li" class="active">
            <% end %>
            <a href="#cart_box">
              В корзине
                <span class="badge badge-inverse" title="Видов товара" id="quantity-badge">
                  <%= @cart.try(:quantity) %>
                </span>
            </a>
            </li>
            <% if content_for?(:filters) %>
                <% if @cart.line_items.empty? %>
                    <li id="filters-li" class="active">
                <% else %>
                    <li id="filters-li">
                <% end %>
                <a href="#filters">Фильтры</a>
                </li>
            <% end %>
          </ul>
          <div class="span3 tab-content">
            <%= render 'layouts/cart_box' %>
            <% if content_for?(:filters) %>
                <%= yield :filters %>
            <% end %>
          </div>
        </div>
        <div class="span9">
          <div>
            <h2 id="title"><%= title %></h2>
            <%= yield %>
          </div>
        </div>
        <% if @cart %>
            <a class="shopbtn btn-default" href="#cartmodal" data-toggle="modal" id="carttrigger">
          <span class='label label-info'
                <% if @cart.quantity<1 %>
              style="display:none;"
            <% end %>
            >
            <%= @cart.quantity %>
          </span>
            </a>
        <% end %>
      </div>
  <% end %>
</div>
<footer class="footer">
  <a href="#">Наверх</a>
  <%= debug(params) if Rails.env.development? %>
</footer>
</body>
</html>