<!doctype html>
<html>
<head>
  <title><%= meta_title %></title>
  <%= csrf_meta_tag %>
  <meta name="description" content="<%= meta_description %>">
  <meta name="keywords" content="<%= meta_keywords %>">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <script>
      $(function () {
          $('#login').popover({
              placement:'bottom',
              trigger:'manual',
              html:true,
              content:'<%= escape_javascript( render "layouts/login") %>',
              title:'Вход <a class=\"close\">×</a>'
          });
      });
  </script>
</head>
<body>
<%= render partial: 'layouts/flash', locals: {flash: flash} %>
<%= render 'layouts/navbar' %>
<div class="container main">
      <%= yield :single_column if content_for?(:single_column) %>

  <div class="col-md-3">
        <%= yield :sidebar %>
      </div>
      <div class="col-md-9">
        <div>
          <%= yield %>
        </div>
      </div>
</div>
<footer class="footer">
  <a href="#">Наверх</a>

  <div class="alert alert-info">
    <h4>Тестовый доступ к админке:</h4>
    problema2000@gmail.com / qwerty
  </div>
  <%= debug(params) if Rails.env.development? %>
</footer>
<%= render 'layouts/cartmodal' %>
</body>
</html>